<script type="text/javascript">
    'use strict';

    let app = {};
    app = {fn: {}, id: 0, isMobile: null, isTouched: false, url: {}}
    app.assetsUrl = '{{url_for('static', filename='assets')}}';
    app.applicationAssetsUrl = '{{url_for(cnf.blueprint_static, filename='assets')}}';
    app.tm1CellsetId = (cellsetId) => `Cellsets('${cellsetId}')?`;
    app.handled401 = false;
    app.pingTime = new Date().getTime();
    {% for key, value in cnf.items() %}
        {% if value is string %}
            app['{{ key }}'] = '{{ value }}';
        {% endif %}

        {% if value is integer %}
            app['{{ key }}'] = {{ value }};
        {% endif %}

        {% if value is boolean %}
            app['{{ key }}'] = {% if (value == True) %}true{% else %}false{% endif %};
        {% endif %}
    {% endfor %}
    app.CellSetUrl = (cellsetId) => app.tm1ApiHost + app.tm1ApiSubPath + app.tm1CellsetId(cellsetId);
    app.defaultCellsetIdQuery = (cellsetId) => app.CellSetUrl(cellsetId) + '$expand=Cells($select=Ordinal,Value)';
</script>