<link href="{{url_for('static', filename='assets/css/bootstrap-grid.min.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/widgets/loader.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/widgets/simulation-panel-slider.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/lib/Chart-2.9.3.min.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/lib/nouislider.min.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/lib/jquery-ui.min.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='assets/css/lib/richtext.min.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<!-- widget skins -->
<link href="{{url_for('static', filename='assets/skin/css/ks-general.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-general.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-container.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-container-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-button.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-button-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-text.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-text-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-textbox.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-textbox-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-grid-table.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-grid-table-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-grid-table-cell.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-grid-table-cell-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-dropbox.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-dropbox-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-grid.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-grid-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-grid-cell.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-grid-cell-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-toggle.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-toggle-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-slider.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-slider-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-slider-touch.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-slider-touch-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-segmentedbar.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-segmentedbar-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-page.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-page-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-panel.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-panel-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-segmented.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-segmented-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-gauge.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-gauge-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-legend.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-legend-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-datepicker.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-datepicker-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-waterfall.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-waterfall-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-tornado.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-tornado-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-horizontal-table.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-horizontal-table-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-scrolltable.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-scrolltable-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-line-scatter-combo.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<!-- style? -->

<link href="{{url_for('static', filename='assets/skin/css/ks-grid-row.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-grid-row-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-combo-chart.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<!-- style? -->

<link href="{{url_for('static', filename='assets/skin/css/ks-textarea.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-textarea-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-popup.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<!-- style? -->

<link href="{{url_for('static', filename='assets/skin/css/ks-horizontalbarchart.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<!-- style? -->

<link href="{{url_for('static', filename='assets/skin/css/ks-pie-chart.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-pie-chart-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-radar-chart.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-radar-chart-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-line-area-chart.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-line-area-chart-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-vertical-line-box.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-vertical-line-box-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-image.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-image-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-pivot-table.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-pivot-table-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-password-text.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-password-text-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-rich-text.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-rich-text-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

<link href="{{url_for('static', filename='assets/skin/css/ks-context-menu.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{url_for(cnf.blueprint_static, filename='assets/skin/css/ks-context-menu-style.css')}}?v={{cnf.version}}" rel="stylesheet" type="text/css">

{% for asset_name in cnf.extension_css_asset_names %}
    <link href="{{url_for('extension_asset', asset_name=asset_name)}}&v={{cnf.version}}" rel="stylesheet" type="text/css">
{% endfor %}