<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>{{ cnf.projectName }}</title>
    </head>
    <body>
        <script src="{{ url_for('static', filename='assets/js/lib/jquery/jquery-3.6.0.min.js')}}"></script>
        <script src="{{ url_for(cnf.blueprint_static, filename='assets/js/config' + cnf.get('auth_prov', '') + '.js')}}?v={{cnf.version}}"></script>
        <script src="{{ url_for('static', filename='assets/js/framework/redirect.js')}}"></script>
    </body>
</html>