<script>
    // (A) OBTAIN USER PERMISSION TO SHOW NOTIFICATION

    document.addEventListener('DOMContentLoaded', () => {
        // (A1) ASK FOR PERMISSION
        if (Notification.permission === "default") {
            Notification.requestPermission().then(perm => {
                if (Notification.permission === "granted") {
                    regWorker().catch(err => console.error(err));
                } else {
                    alert("Please allow notifications.");
                }
            });
        }

        // (A2) GRANTED
        else if (Notification.permission === "granted") {
            regWorker().catch(err => console.error(err));
        }

        // (A3) DENIED
        else {
            alert("Please allow notifications.");
        }
    });

    // (B) REGISTER SERVICE WORKER
    async function regWorker() {
        // (B1) YOUR PUBLIC KEY - CHANGE TO YOUR OWN!
        const publicKey = 'BJTiztfOr9WMHShhzFfUE9EE9J05MLfYo_fDwG2TvMoVBYYgL3ia-AX_XzY_DDgCVsk-A-94m5P46-XNc0hK6jY';

        // (B2) REGISTER SERVICE WORKER
        navigator.serviceWorker.register("service_worker.js");

        // (B3) SUBSCRIBE TO PUSH SERVER
        navigator.serviceWorker.ready
            .then(reg => {
                reg.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: publicKey
                }).then(
                    // (B3-1) OK - TEST PUSH NOTIFICATION
                    sub => {
                        var data = new FormData();
                        data.append("sub", JSON.stringify(sub));
                        fetch("push", {method: "POST", body: data})
                            .then(res => res.text())
                            .then(txt => console.log(txt))
                            .catch(err => console.error(err));
                    },

                    // (B3-2) ERROR!
                    err => console.error(err)
                );
            });

    }
</script>