.ks-grid-table-cell.selected {
    background-color: #dbeaf6 !important;
    outline: 1px solid #9ac5e9;
    outline-offset: -1px;
}

.ks-grid-table-cell.active-cell {
    outline: 2px solid #1c62b0 !important;
    z-index: 1;
}
