.ks-password-text-icon {
    margin-left: -30px;
    cursor: pointer;
    color: #007AFF;
    font-size: 12px;
}

.ks-password-text-input {
    height: 40px;
    width: 260px;
    border: 1px solid #ACADAE;
    border-radius: 8px;
    padding-left: 8px;
    letter-spacing: 2.4px;
    color: #000000;
    font-size: 12px;
}