.ks-textbox {
	display: block;
}

.ks-textbox-inner {
	height: 100%;
}

.ks-textbox-title,
.ks-textbox-title-secondary,
.ks-textbox-icon,
.ks-textbox-divider {
	display: none;
}

.ks-textbox.has-title .ks-textbox-title {
	display: block;
}
.ks-textbox.has-title-secondary .ks-textbox-title-secondary {
	display: inline;
}
.ks-textbox.has-icon .ks-textbox-icon,
.ks-textbox.has-icon .ks-textbox-divider{
	display: block;
}

.ks-textbox-field {
	overflow: hidden;
}

.ks-textbox-field-inner {
	-ms-flex-align: center;
	align-items: center;
	display: flex;
	height: 100%;
	overflow: hidden;
}

.ks-textbox-input {
	appearance: none;
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	display: block;
	height: 100%;
	width: 100%;
}

.ks-textbox-field-inner.readonly {
    background-color: lightgrey;
}

.ks-textbox-data_spread_custom_group .ks-textbox-title {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.ks-textbox-data_spread_custom_group .ks-textbox-field {
    background-color: #fff;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    height: 40px;
}

.ks-textbox-data_spread_custom_group .ks-textbox-field-inner.readonly {
    background-color: #f2f2f2;
    border: 1px #ACADAE;
    border-radius: 8px;
    height: 40px;
}
.ks-textbox-data_spread_custom_group .ks-textbox-input {
    font-size: 14px;
    padding: 0 10px;
}

.ks-textbox-data_spread_custom_group .ks-textbox-input::-webkit-input-placeholder {
    color: #ACADAE;
}

.ks-textbox-data_spread_custom_group .ks-textbox-input::-moz-placeholder {
    color: #ACADAE;
}

.ks-textbox-data_spread_custom_group .ks-textbox-input:-ms-input-placeholder {
    color: #ACADAE;
}

.ks-textbox-data_spread_custom_group .ks-textbox-input:-moz-placeholder {
    color: #ACADAE;
}

.ks-textbox-data_spread_custom_group.ks-textbox-icon {
    display: flex;
    margin-left: 10px;

}