__pycache__
.idea
.project
.pydevproject
nbproject
*.dist
cache
local
waitress_cmd_local.py
venv
minified*.*
logs
*.log
DimensionFramework/applications/*
DimensionFramework/configs/*
DimensionFramework/Customer/*
DimensionFramework/static/assets/skins/*
DimensionFramework/static/assets/js/configs/*
!DimensionFramework/static/assets/js/configs/dummy
!DimensionFramework/static/assets/js/configs/default