prune DimensionFramework/applications
prune DimensionFramework/cache
prune DimensionFramework/logs
prune DimensionFramework/tests
prune DimensionFramework/configs
graft DimensionFramework/global
global-exclude *.pyc