Flask==3.1.2
TM1py==2.1
PyJWT==2.10.1
requests==2.32.5
numpy==2.2.6 # updates available from Python 3.11
pandas==2.3.2
XlsxWriter==3.2.9
matplotlib==3.10.6
PyYaml==6.0.3
xlrd==2.0.2
openpyxl==3.1.5
json_logging==1.5.1
pytest
pytest-mock
requests_ntlm
flask_talisman==1.1.0
Flask-APScheduler==1.13.1
orjson==3.11.3
rich==14.1.0
jproperties==2.1.2
cryptography>=43.0.1