.ks-grid-cell-cellwhitebackground {
    background-color: white;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.ks-grid-cell-box {
    background-color: white;
    border: 1px solid #b1b3b3;
    border-radius: 5px;
}

.ks-grid-cell-celldynamicwidth .ks-grid-cell-content {
    display: contents;
}

/* rightborder Mody 04 20   */


.ks-grid-cell-rightborder {
    border-right: 1px solid #BFD9F2;
}


/* messagebordblue Mody 04 20   */

.ks-grid-cell-messagebordblue {
    background-color: rgba(191, 217, 242, 0.5);
    border: 1px rgba(191, 217, 242, 0.5);
    border-radius: 5px;
}

/* messagebordgrey Mody 04 20   */

.ks-grid-cell-messagebordgrey {
    background-color: rgba(235, 236, 236, 0.7);
    border: 1px solid rgba(235, 236, 236, 0.7);
    border-radius: 5px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL6 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL5 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL4 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL3 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL2 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_checkout_hierarchy_bpsp_PL1 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL6 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL5 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL4 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL3 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL2 .ks-grid-table-cell-border-left {
    border-left: 0px;
}

.ks-grid-table-cell-gridtable_hierarchy_bpsp_PL1 .ks-grid-table-cell-border-left {
    border-left: 0px;
}


/* reportCell   */
.ks-grid-cell-reportCell .ks-grid-cell-content {
    display: contents;
}


/* reportKPIRightBorder */
.ks-grid-cell-reportKPIRightBorder {
    border-right: 1px dashed #b1b3b3;
}

/* reportKPILeftBorder */
.ks-grid-cell-reportKPILeftBorder {
    border-left: 1px dashed #b1b3b3;
}

/* reportKPITopBorder */
.ks-grid-cell-reportKPITopBorder {
    border-top: 1px solid #b1b3b3;
}

