/* horizontal_align_center */

.ks-panel-horizontal_align_center {
    display: flex;
    justify-content: center;
}

/* horizontal_align_right */
.ks-panel-horizontal_align_right {
    display: flex;
    justify-content: flex-end;
}

/* horizontal_align_left */
.ks-panel-horizontal_align_left {
    display: flex;
    justify-content: flex-start;
}
