.ks-pie-chart-skin1 .ks-pie-chart-title h3 {
    font-size: 14px;
    border-bottom: 2px dotted #ebecec;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}

.ks-pie-chart-skin2 .ks-pie-chart-title h3 {
    font-size: 14px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: none;
}

.ks-pie-chart-skin3 .ks-pie-chart-title{
    display:none;
}