/* haysmain-blue menu icon */
.ks-button-haysmain_blue.ks-button {
    height: 145px;
    background-color: #007BFF;
    border-radius: 30px;
}

.ks-button-haysmain_blue .ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_blue .ks-button-content {
    height: 110%
}

.ks-button-haysmain_blue:active {
    background-color: #004C99;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* haysmain-grey menu icon */
.ks-button-haysmain_grey.ks-button {
    height: 145px;
    widgt: 145px;
    background-color: #A9A9A9;
    border-radius: 30px;
}

.ks-button-haysmain_grey .ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_grey .ks-button-content {
    height: 110%
}

.ks-button-haysmain_grey:hover {
    background-color: #A9A9A9
}

.ks-button-haysmain_grey:active {
    background-color: #A9A9A9;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* haysmain-red menu icon */
.ks-button-haysmain_red.ks-button {
    height: 145px;
    background-color: #FF3B30;
    border-radius: 30px;
}

.ks-button-haysmain_red .ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_red .ks-button-content {
    height: 110%
}

.ks-button-haysmain_red:hover {
    background-color: #FF3B30
}

.ks-button-haysmain_red:active {
    background-color: #FF3B30;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* haysmain-green menu icon */
.ks-button-haysmain_green.ks-button {
    height: 145px;
    background-color: #20C997;
    border-radius: 30px;
}

.ks-button-haysmain_green .ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_green .ks-button-content {
    height: 110%
}

.ks-button-haysmain_green:hover {
    background-color: #20C997
}

.ks-button-haysmain_green:active {
    background-color: #20C997;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* haysmain-purple menu icon */
.ks-button-haysmain_purple.ks-button {
    height: 145px;
    background-color: #6F42C1;
    border-radius: 30px;
}

.ks-button-haysmain_purple .ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_purple .ks-button-content {
    height: 110%;
}

.ks-button-haysmain_purple:hover {
    background-color: #6F42C1;
}

.ks-button-haysmain_purple:active {
    background-color: #6F42C1;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* rochemain_disabled menu icon */
.ks-button-haysmain_disabled.ks-button {
    height: 145px;
    background-color: #ebecec;
    border-radius: 30px;
}

.ks-button-haysmain_disabled.ks-button-icon {
    color: white;
    font-size: 70px;
}

.ks-button-haysmain_disabled.ks-button-content {
    height: 110%
}

.ks-button-haysmain_disabled:hover {
    background-color: #ebecec;
}

.ks-button-haysmain_disabled:active {
    background-color: #ebecec;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* haysmain-grey menu icon */
.ks-button-settings_grey_menu.ks-button {
    height: 145px;
    widgt: 145px;
    background-color: #A9A9A9;
    border-radius: 30px;
}

.ks-button-settings_grey_menu .ks-button-icon {
    color: white;
    font-size: 50px;
}

.ks-button-settings_grey_menu .ks-button-content {
    height: 110%
}

.ks-button-settings_grey_menu:hover {
    background-color: #A9A9A9
}

.ks-button-settings_grey_menu:active {
    background-color: #A9A9A9;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* user name*/
.ks-button-userpanelmain_hays.ks-button {
    height: 30px;
    padding: 1px;
    border-radius: 6px;
    background-color: #F2F2F2;
}

.ks-button-userpanelmain_hays .ks-button-inner {
    background-color: #F2F2F2;
    border-radius: 6px;
    padding: 0 25px 0 10px;
}

.ks-button-userpanelmain_hays .ks-button-icon,
.ks-button-userpanelmain_hays .ks-button-icon img {
    float: left;
    font-size: 21px;
    margin-top: 4px;
    margin-right: 8px;
    color: #585959;
}

.ks-button-userpanelmain_hays .ks-button-divider {
    width: 10px;
}

.ks-button-userpanelmain_hays .ks-button-label {
    color: #585959;
    font-size: 14px;
    font-weight: 600;
}

/* filter button*/

.ks-button-filter_hays.ks-button {
    height: 30px;
    padding: 1px;
    border-radius: 20px;
    background-color: #F2F2F2;
    position: relative;

}

.ks-button-filter_hays .ks-button-inner {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0 25px 0 10px;
    float: left;
}

.ks-button-filter_hays .ks-button-icon,
.ks-button-filter_hays .ks-button-icon img {
    float: left;
    font-size: 20px;
    margin-top: 4px;
    margin-right: 8px;
    color: #585959;
}

.ks-button-filter_hays .ks-button-divider {
    width: 10px;
}

.ks-button-filter_hays .ks-button-label {
    color: #343A40;
    font-size: 16px;
    font-weight: 600;
}

/* hierarhcy button KAM Forecasting */

.ks-button-hierarchy_button.ks-button {
    background-color: #F2F2F2;
    height: 40px;
    border-radius: 8px;
    width: 100px;
}

.ks-button-hierarchy_button .ks-button-label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
}

.ks-button-hierarchy_button .ks-button-icon {
    color: #007BFF;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 4px;
}

/* hierarhcy button Arbeitsbericht compare to ... */

.ks-button-hierarchy_button_grey.ks-button {
    background-color: #F2F2F2;
    height: 40px;
    border-radius: 8px;
    width: 100px;
}

.ks-button-hierarchy_button_grey .ks-button-label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
    color: #6C757D;
}

.ks-button-hierarchy_button_grey .ks-button-icon {
    color: #6C757D;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 4px;
}


/* button double triange */
.ks-button-triangle_button.ks-button {
    width: 100px;
    height: 40px;
    position: relative;
    background: #F2F2F2;
    border-radius: 5px;
}

.ks-button-triangle_button.ks-button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 0;
    border-left: 5px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 5px;
}

.ks-button-triangle_button.ks-button:before {
    content: "";
    position: absolute;
    right: -38px;
    bottom: 0;
    width: 40px;
    height: 0;
    border-left: 9px solid #F2F2F2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 5px;

}

.ks-button-triangle_button .ks-button-label {
    color: #6C757D;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
}

/* button rightblue triange */
.ks-button-rightbluetriangle_button.ks-button {
    width: 100px;
    height: 40px;
    position: relative;
    background: #F2F2F2;
    border-radius: 5px;
}

.ks-button-righttriangle_button.ks-button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 0;
    border-left: 5px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 5px;

}

.ks-button-righttriangle_button .ks-button-label {
    color: #6C757D;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
}

/* button rightblue triange */
.ks-button-rightbluetriangle_button.ks-button {
    width: 100px;
    height: 40px;
    position: relative;
    background: #5AAAFF;
    border-radius: 5px;
}

.ks-button-rightbluetriangle_button.ks-button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 0;
    border-left: 5px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 5px;

}

.ks-button-rightbluetriangle_button .ks-button-label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
}

/* button left triange */
.ks-button-lefttriangle_button.ks-button {
    width: 100px;
    height: 40px;
    position: relative;
    background: #F2F2F2;
    border-radius: 5px;
}

.ks-button-lefttriangle_button.ks-button:before {
    content: "";
    position: absolute;
    right: -38px;
    bottom: 0;
    width: 40px;
    height: 0;
    border-left: 9px solid #F2F2F2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-radius: 5px;

}

.ks-button-lefttriangle_button .ks-button-label {
    color: #6C757D;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    margin-left: 6px;
}

/* material_hays  button */

.ks-button-material_hays.ks-button {
    background-color: #007BFF;
    height: 40px;
    border-radius: 8px;
    width: 130px;
}

.ks-button-material_hays .ks-button-label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 6px;
}

.ks-button-material_hays .ks-button-icon {
    color: #fff;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 4px;
}

.ks-button-material_hays:hover {
    background-color: #0066CC
}

.ks-button-material_hays:active {
    background-color: #0066CC;
    /* box-shadow: 0 5px #666;
     transform: translateY(4px);*/
}

/* material_hayslight button */

.ks-button-material_hayslight.ks-button {
    background-color: #E3F1FF;
    height: 40px;
    border-radius: 8px;
    width: 130px;
}

.ks-button-material_hayslight .ks-button-label {
    color: #007BFF;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 6px;
}

.ks-button-material_hayslight .ks-button-icon {
    color: #007BFF;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 4px;
}

/* material_haysred button */

.ks-button-material_haysred.ks-button {
    background-color: rgba(220, 53, 69, 0.3);
    height: 40px;
    border-radius: 8px;
    width: 130px;
}

.ks-button-material_haysred .ks-button-label {
    color: rgba(220, 53, 69, 1);
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 6px;
    appearance: none;
}

.ks-button-material_haysred .ks-button-icon {
    color: rgba(220, 53, 69, 1);
    font-size: 16px;
    margin-right: 2px;
    margin-left: 4px;
}

/*Ira backbutton*/
.ks-button-backbuttonhays.ks-button {
    color: #347CF6;
    font-size: 20px;
    font-weight: normal;
}

.ks-button-backbuttonhays span {
    font-size: 20px;
}

.ks-button-backbuttonhays:hover {
    background-color: #E3F1FF;
    border-radius: 4px;
}

/* departurement_popup button ez mar nincs benne de hát kell még valahol*/

.ks-button-departurement_popup.ks-button {
}

.ks-button-departurement_popup .ks-button-label {
    font-weight: bold;
    width: 80px;
}

.ks-button-departurement_popup .ks-button-icon {
    font-size: 16px;
    margin-left: 26%;
    margin-top: 2%;
}

.ks-button-departurement_popup:hover {
    background-color: rgba(0, 123, 255, 0.5);
    border-radius: 5px;
}

/* ... button in filters row*/
.ks-button-point_button.ks-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-left: 20px;
}

.ks-button-point_button .ks-button-inner {
    background-color: #F2F2F2;
    border-radius: 20px;
}

.ks-button-point_button .ks-button-icon,
.ks-button-point_button .ks-button-icon img {
    color: #6C757D;
    font-size: 5px;
}

/*point popup clear all filters button buttons*/

.ks-button-point_popup_clearbutton.ks-button {
    height: 30px;
    width: 90px;
    padding: 1px;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: relative;
}

.ks-button-point_popup_clearbutton .ks-button-inner {
    border-radius: 6px;
    padding: 0 25px 0 10px;
    float: left;
}

.ks-button-point_popup_clearbutton .ks-button-icon,
.ks-button-point_popup_clearbutton .ks-button-icon img {
    float: left;
    font-size: 21px;
    margin-top: 4px;
    margin-right: 8px;
    color: #DC3545;
}

.ks-button-point_popup_clearbutton .ks-button-divider {
    width: 10px;
}

.ks-button-point_popup_clearbutton .ks-button-label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

/* */


.ks-button-point_popup_clearbutton.ks-button:hover {
    background-color: #E3F1FF;
}

.ks-button-point_popup_clearbutton.ks-button-inner:hover {
    background-color: #E3F1FF;
    border-radius: 8px;
    padding: 0 25px 0 10px;
}

.ks-button-point_popup_clearbutton.ks-button-icon:hover,
.ks-button-point_popup_clearbutton.ks-button-icon img:hover {
    float: left;
    font-size: 21px;
    margin-top: 4px;
    margin-right: 8px;
    color: #171515;
}

.ks-button-point_popup_clearbutton.ks-button-divider:hover {
    width: 10px;
}

.ks-button-point_popup_clearbutton.ks-button-label:hover {
    color: #171515;
    font-size: 16px;
    font-weight: 600;

}

/*point popup save all filters button buttons*/

.ks-button-point_popup_savebutton.ks-button {
    height: 30px;
    width: 90px;
    padding: 1px;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: relative;
}

.ks-button-point_popup_savebutton .ks-button-inner {
    border-radius: 6px;
    padding: 0 25px 0 10px;
    float: left;
}

.ks-button-point_popup_savebutton .ks-button-icon,
.ks-button-point_popup_savebutton .ks-button-icon img {
    float: left;
    font-size: 21px;
    margin-top: 4px;
    margin-right: 8px;
    color: #28A745;
}

.ks-button-point_popup_savebutton .ks-button-divider {
    width: 10px;
}

.ks-button-point_popup_savebutton .ks-button-label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

/* */


.ks-button-point_popup_savebutton.ks-button:hover {
    background-color: #E3F1FF;
}

.ks-button-point_popup_savebutton.ks-button-inner:hover {
    background-color: #E3F1FF;
    border-radius: 8px;
    padding: 0 25px 0 10px;
}

.ks-button-point_popup_savebutton.ks-button-icon:hover,
.ks-button-point_popup_savebutton.ks-button-icon img:hover {
    float: left;
    font-size: 21px;
    margin-top: 4px;
    margin-right: 8px;
    color: #171515;
}

.ks-button-point_popup_savebutton.ks-button-divider:hover {
    width: 10px;
}

.ks-button-point_popup_savebutton.ks-button-label:hover {
    color: #171515;
    font-size: 16px;
    font-weight: 600;

}

/*point popup load all filters button buttons*/

.ks-button-point_popup_loadbutton.ks-button {
    height: 30px;
    width: 90px;
    padding: 1px;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: relative;
}

.ks-button-point_popup_loadbutton .ks-button-inner {
    border-radius: 6px;
    padding: 0 25px 0 10px;
    float: left;
}

.ks-button-point_popup_loadbutton .ks-button-icon,
.ks-button-point_popup_loadbutton .ks-button-icon img {
    float: left;
    font-size: 18px;
    margin-top: 4px;
    margin-right: 8px;
    color: #007BFF;
}

.ks-button-point_popup_loadbutton .ks-button-divider {
    width: 10px;
}

.ks-button-point_popup_loadbutton .ks-button-label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

/* */


.ks-button-point_popup_loadbutton.ks-button:hover {
    background-color: #E3F1FF;
}

.ks-button-point_popup_loadbutton.ks-button-inner:hover {
    background-color: #E3F1FF;
    border-radius: 8px;
    padding: 0 25px 0 10px;
}

.ks-button-point_popup_loadbutton.ks-button-icon:hover,
.ks-button-point_popup_loadbutton.ks-button-icon img:hover {
    float: left;
    font-size: 18px;
    margin-top: 4px;
    margin-right: 8px;
    color: #171515;
}

.ks-button-point_popup_loadbutton.ks-button-divider:hover {
    width: 10px;
}

.ks-button-point_popup_loadbutton.ks-button-label:hover {
    color: #171515;
    font-size: 16px;
    font-weight: 600;

}

/* delete popup light blue button */

.ks-button-delete_hayslight.ks-button {
    background-color: #E3F1FF;
    height: 40px;
    border-radius: 8px;
    width: 105px;
}

.ks-button-delete_hayslight .ks-button-label {
    color: #007BFF;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 6px;
}


/* delete popup red button */

.ks-button-delete_haysred.ks-button {
    background-color: #DC3545;
    height: 40px;
    border-radius: 8px;
    width: 105px;
}

.ks-button-delete_haysred .ks-button-label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 6px;
    appearance: none;
}


/* popup button */
.ks-button-popupbutton .ks-button-icon {
    color: #007BFF;
    font-size: 18px;
    line-height: 2px;
    padding: 20px;
    max-height: fit-content !important;
}

.ks-button-popupbutton:hover {
    background-color: #E3F1FF;
    border-radius: 5px;
}

.ks-button-popupbutton .ks-button-content {
    justify-content: normal !important;
}


/* gridtable icon button */
.ks-button-gridtableicon .ks-button-icon {
    color: #007BFF;
    font-size: 15px;
}

/* 09 10 Mody Hierarchy_On_Hays */
.ks-button-Hierarchy_On_Hays.ks-button {
    background-color: #E3F1FF;
}

.ks-button-Hierarchy_On_Hays .ks-button-icon {
    color: #007BFF;
    font-size: 15px;
}

.ks-button-Hierarchy_Off_Hays.ks-button {
}

.ks-button-Hierarchy_Off_Hays .ks-button-icon {
    color: #007BFF;
    font-size: 15px;
}