/* departurement_popup_hays */
.ks-container-departurement_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-departurement_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 22%;
}

.ks-container-departurement_popup_hays .ks-container-content {
    padding: 5px;
}


/* business_popup_hays */
.ks-container-business_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-business_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 9%;
}

.ks-container-business_popup_hays .ks-container-content {
    padding: 5px;
}

/* area_popup_hays */
.ks-container-area_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-area_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 16%;
}

.ks-container-area_popup_hays .ks-container-content {
    padding: 5px;
}

/* team_popup_hays */
.ks-container-team_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-team_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 28%;
}

.ks-container-team_popup_hays .ks-container-content {
    padding: 5px;
}

