/* departurement_popup_hays */
.ks-container-departurement_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-departurement_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 21%;
}

.ks-container-departurement_popup_hays .ks-container-content {
    padding: 5px;
}


/* business_popup_hays */
.ks-container-business_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-business_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 7%;
}

.ks-container-business_popup_hays .ks-container-content {
    padding: 5px;
}

/* area_popup_hays */
.ks-container-area_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-area_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 14%;
}

.ks-container-area_popup_hays .ks-container-content {
    padding: 5px;
}

/* team_popup_hays */
.ks-container-team_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-team_popup_hays.ks-container {
    border-radius: 7px;
    top: 46%;
    left: 28%;
}

.ks-container-team_popup_hays .ks-container-content {
    padding: 5px;
}

/* filter */
.ks-container-popup_hays.ks-container-backdrop {
    background-color: rgba(0, 0, 0, 0.15);
}

.ks-container-popup_hays.ks-container {
    border-radius: 8px;
}

.ks-container-popup_hays .ks-container-content {
    padding: 0px;
}

.ks-container-popup_hays .div-x {
    color: #0066CC;
    font-size: 12px;
    margin-right: 8px;
}