.ks-grid-table-filters_table .ks-grid-table-row {
    width: 100%;
}

.ks-grid-table-filters_table .ks-grid-table-head {
    width: 100%;
}


.ks-grid-table-filters_table .ks-grid-table-title {
    width: 100%;
}

.ks-grid-table-filters_table .ks-general{
    width: 100%;
}