@font-face {
    font-family: 'Gotham Narrow';
    src: url('../fonts/GothamNarrow-Bold.eot');
    src: url('../fonts/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Bold.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Bold.woff') format('woff'),
        url('../fonts/GothamNarrow-Bold.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rp6e2e');
  src:  url('../fonts/icomoon.eot?rp6e2e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rp6e2e') format('truetype'),
    url('../fonts/icomoon.woff?rp6e2e') format('woff'),
    url('../fonts/icomoon.svg?rp6e2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../fonts/GothamNarrow-Medium.eot');
    src: url('../fonts/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamNarrow-Medium.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hays';
    src:  url('../fonts/hays.eot?jxols');
    src:  url('../fonts/hays.eot?jxols#iefix') format('embedded-opentype'),
        url('../fonts/hays.ttf?jxols') format('truetype'),
        url('../fonts/hays.woff?jxols') format('woff'),
        url('../fonts/hays.svg?jxols#hays') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hays' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    outline: 0;
    box-sizing: border-box;
    font-family: 'Gotham Narrow', sans-serif;
    margin: 0;
    padding: 0;
}

.aligned-center-auto {
    display: table!important;
    margin-left: auto;
    margin-right: auto;
}

.aligned-center-horizontal {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.aligned-center-vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.aligned-center-both {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ks-chart-holder, .ks-chart-widget {
    position: relative;
}

.noselect {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -khtml-user-drag: none;
    -o-user-select: none;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-arrow-swap:before {
    content: "\e900";
}
.icon-arrow-to-top:before {
    content: "\e901";
}
.icon-badge:before {
    content: "\e902";
}
.icon-check-intermediate:before {
    content: "\e903";
}
.icon-check-off:before {
    content: "\e904";
}
.icon-check-on:before {
    content: "\e905";
}
.icon-chevron-close-horizontal:before {
    content: "\e906";
}
.icon-chevron-close-vertical:before {
    content: "\e907";
}
.icon-chevron-open-horizontal:before {
    content: "\e908";
}
.icon-chevron-open-vertical:before {
    content: "\e909";
}
.icon-clear:before {
    content: "\e90a";
}
.icon-columns:before {
    content: "\e90b";
}
.icon-ellipsis:before {
    content: "\e90c";
}
.icon-menu:before {
    content: "\e90d";
}
.icon-rows:before {
    content: "\e90e";
}
.icon-tray-arrow-down:before {
    content: "\e90f";
}
.icon-tray-files:before {
    content: "\e910";
}
.icon-user:before {
    content: "\e911";
}
.icon-chevron-right:before {
  content: "\e916";
}
.icon-people-square-stack:before {
  content: "\e92d";
}