/*Mody 09 02 hierarchyGridTable_hays   */
.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-row {
    border-bottom: 1px solid #c3ced5;
    height: 60px;
}

.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-cell {
    padding: 0px !important;
}

.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-row {
    border-right: 10px solid #F2F2F2;
}

/* settings_hays */

.ks-grid-table-settings_hays .ks-grid-table-head {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
}

.ks-grid-table-settings_hays .ks-grid-table-row {
    border-bottom: 1px solid #d8d9d9;
    border-left: 1px solid #D8D9D9;
    height: 40px;
}

.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-row {
    border-bottom: 0;
    border-left: 0;
}

.ks-grid-table-settings_hays .ks-grid-table-cell-border-left {
    border-left: 1px dashed #b1b3b3;
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-cell {
    border-right: unset;
    color: #000000;
}

.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 50%;
    bottom: 0;
}


.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-head-cell-long_border_bpsp .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 0%;
    bottom: 0;
}

.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-head-cell-no_border_bpsp .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 100%;
    bottom: 0;
}

.ks-grid-table-settings_hays .ks-grid-table-head .ks-grid-table-row {
    height: 90px;
}

.ks-grid-table-settings_hays .ks-grid-table-cell {
    color: #000;
    font-size: 16px;
    line-height: 16px;
}

.ks-grid-table-settings_hays .ks-grid-table-content .ks-grid-table-cell {
    overflow: hidden;
}
