
.ks-grid-cell-topborder.ks-grid-cell {
    border-top: 2px solid #F2F2F2;
    padding-bottom: 5%;
}

.ks-grid-cell-leftborder.ks-grid-cell {
    border-left: 2px solid #F2F2F2;
    padding-left: 3%;
    margin-left: 5%;
}