/* Segmented  */
.ks-segmented-segmented.ks-segmented {
    border-radius: 30px;
    height: 40px;
    width:160px;
}

.ks-segmented-segmented .ks-segment {
    background-color: #d8d9d9;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #fff;
}

.ks-segmented-segmented .ks-segment.ks-on {
    background-color: #007BFF;
    color: #fff;
}

/* Segmented By hierarchy or sales channel - light */
.ks-segmented-segmented_light .ks-segmented {
    border-radius: 30px;
    height: 40px;
    width: 130px;
    border-left: 2px solid #F2F2F2;
}

.ks-segmented-segmented_light .ks-segment {
    background-color: #FFFFFF;
    color: #6C757D;
    font-size: 14px;
    font-weight: 600;
}

.ks-segmented-segmented_light .ks-segment.ks-on {
    background-color: #FFFFFF;
    color: #007BFF;
}