/* Segmented  */
.ks-segmented-segmented.ks-segmented {
    border-radius: 30px;
    height: 40px;
    width:160px;
}

.ks-segmented-segmented .ks-segment {
    background-color: #d8d9d9;
    color: #585959;
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #fff;
}

.ks-segmented-segmented .ks-segment.ks-on {
    background-color: #0066cc;
    color: #fff;
}