/* menu text*/

.ks-text-menu .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ks-text-menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}

/* template10*/
.ks-text-deepblue_menu .ks-text-title {
    font-weight: bold;
}

.ks-text-deepblue_menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}

/*filter button with no selection*/

.ks-text-filter_button_circle .ks-text-inner {
    width: 220px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 5px;
}

.ks-text-filter_button_circle .ks-text-title {
    font-weight: normal;
    color: #343A40;
    font-size: 16px;
    padding-top: 8px;
}

.ks-text-filter_button_circle .ks-text-icon {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*filter button*/
.ks-text-filter_button .ks-text-inner {
    width: 220px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 20px 20px 0 0;
    margin-right: 10px;
    border-bottom: 2px solid #E1E1E1;
    padding-top: 2px;
    padding-left: 5px;
}

.ks-text-filter_button .ks-text-title {
    font-weight: normal;
    color: #343A40;
    font-size: 16px;
    padding-top: 8px;
}

.ks-text-filter_button .ks-text-icon {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*filter text*/
.ks-text-filter_text .ks-text-inner {
    width: 220px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
    margin-right: 10px;
}

.ks-text-filter_text .ks-text-title {
    font-weight: normal;
    color: #343A40;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 13px;
    margin-right: 48px;
}

.ks-text-filter_text .ks-text-icon:before {
    float: right;
    width: 18px;
    height: 19px;
    margin-bottom: 13px;
    margin-top: 14px;
    margin-right: 10px;
    content: "\e945";
    font-family: hays;
    color: #A9A9A9;
}

/*filter text when nothing is chosen*/
.ks-text-filter_text_disabled .ks-text-inner {
    width: 220px;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    margin-right: 10px;
}

.ks-text-filter_text_disabled .ks-text-title {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 13px;
    margin-right: 48px;
}

.ks-text-filter_text_disabled .ks-text-icon:before {
    float: right;
    width: 18px;
    height: 19px;
    margin-bottom: 13px;
    margin-top: 14px;
    margin-right: 10px;
}

/* settings text*/

.ks-text-settings.ks-text-title {
    font-weight: normal;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 37px;
}

.ks-text-menu-settings.ks-text-body {
    font-weight: normal;
    margin-bottom: 5px;
}

/*delete popup text*/

.ks-text-delete .ks-text-title {
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    alignment: center;
}

.ks-text-delete .ks-text-icon {
    alignment: center;
    color: #DC3545;
    font-size: 20px;
    margin-left: 55px;
}

/*delete popup text line 2*/

.ks-text-delete_message .ks-text-title {
    font-weight: bold;
    color: #000000;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;
}


/* 09 10 Mody Hierarchy_On_Hays */
.ks-text-Hierarchy_On_Hays.ks-text {
    background-color: #E3F1FF;
}

.ks-text-Hierarchy_Off_Hays.ks-text {
}