/* menu text*/

.ks-text-menu .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ks-text-menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}

/* template10*/
.ks-text-deepblue_menu .ks-text-title {
    font-weight: bold;
}

.ks-text-deepblue_menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}

/*filter button*/
.ks-text-filter_button .ks-text-title {
    font-weight: normal;
    color: #343A40;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 25px;
}

.ks-text-filter_button .ks-text-icon {
    float: left;
    position: relative;
}

/*filter text*/
.ks-text-filter_text .ks-text-title {
    font-weight: normal;
    color: #343A40;
    font-size: 13px;
    margin-bottom: 13px;
    margin-top: 14px;
    margin-left: 30px;
}
.ks-text-filter_text .ks-text-icon {
    float: right;
    width: 18px;
    height: 19px;
    margin-bottom: 13px;
    margin-top: 14px;
    margin-right: 10px;
}

/* settings text*/

.ks-text-settings.ks-text-title {
    font-weight: normal;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 37px;
}

.ks-text-menu-settings.ks-text-body {
    font-weight: normal;
    margin-bottom: 5px;
}

/*delete popup text*/

.ks-text-delete .ks-text-title {
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    alignment: center;
}
.ks-text-delete .ks-text-icon {
   alignment: center;
    color: #DC3545;
    font-size: 20px;
    margin-left: 55px;
}

/*delete popup text line 2*/

.ks-text-delete_message .ks-text-title {
    font-weight: bold;
    color: #000000;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;
}
