/* Mody 09 02 hierarchyToggle_hays*/

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-on {
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
    order: 0;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-off {
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
    order: 0;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle {
    height: 60px;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on {
    background-color: #E3F1FF;
}

.ks-toggle-hierarchyToggle_hays .ks-toggle-icon span {
    display: block;
    margin-left: 15px;
}

.ks-toggle-hierarchyToggle_hays .ks-toggle-label {
    color: #000;
    display: block;
    font-size: 15px;
    margin-left: 10px;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}