/* Mody 09 02 hierarchyToggle_hays*/

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-on {
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
    order: 0;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-off {
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
    order: 0;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle {
    height: 60px;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on {
    background-color: #E3F1FF;
}

.ks-toggle-hierarchyToggle_hays .ks-toggle-icon span {
    display: block;
    margin-left: 15px;
}

.ks-toggle-hierarchyToggle_hays .ks-toggle-label {
    color: #000;
    display: block;
    font-size: 15px;
    margin-left: 10px;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-hierarchyToggle_hays.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* switch_hays toggle */

.ks-toggle-switch_hays .ks-toggle-label-on {
    display: none !important;
}

.ks-toggle-switch_hays .ks-toggle-label-off {
    display: none !important;
}

.ks-toggle-switch_hays.ks-toggle .ks-toggle-icon-on {
    color: #007BFF;
    cursor: pointer;
    font-size: 15px;
    padding-left: 15%;
}

.ks-toggle-switch_hays.ks-toggle .ks-toggle-icon-off {
    color: #C5C6C6;
    cursor: pointer;
    font-size: 15px;
    padding-left: 60%;
}

.ks-toggle-switch_hays.ks-toggle {
    border-radius: 3px;
    height: 30px;
}


.ks-toggle-switch_hays .ks-toggle-icon span {
    display: block;
}

.ks-toggle-switch_hays .ks-toggle-label {
    display: none;
}


.ks-toggle-switch_hays.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-switch_hays .ks-toggle-icon-on {
    display: none;
    justify-content: flex-start;
}

.ks-toggle-switch_hays .ks-toggle-icon-off {
    display: block;
    justify-content: flex-end;
    padding-right: 5px;
}

.ks-toggle-switch_hays.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

.ks-toggle-switch_hays.ks-toggle.ks-on .ks-toggle-inner {
    justify-content: flex-start;
}