.ks-gauge-labels {
    bottom: -10px;
}

.ks-gauge-label {
    color: #8d9399;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.ks-gauge-value {
    font-weight: bold;
    margin-left: 5px;
    text-align: left;
}