@media screen and (max-width: 767px) {
    .WaterfallChartColumnGraphHolder {
        margin-left: -15px;
        width: 30px;
    }

    .slider {
        margin: 0 auto;
        padding-top: 17px;
        position: relative;
    }

    .touch .slider {
        padding-top: 16px;
    }

    .SliderChangePopupMobile {
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        top: auto !important;
        width: auto !important;
        z-index: 999 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding-top: 15px !important;
        position: fixed !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .SliderChangePopupMobile:before {
        display: none;
    }

    .SliderChangePopupMobile .SliderChangePopupContent {
        padding: 15px 20px 20px;
    }

    .SliderChangePopupMobile .SliderControlsLeft {
        padding-left: 12px;
        width: 110px;
    }

    .SliderChangePopupMobile .SliderControlsMiddle {
        width: 60px;
    }

    .SliderChangePopupMobile .SliderControlsRight {
        padding-right: 12px;
        width: 110px;
    }

    .SliderChangePopupMobile .SliderDecrementButton:first-child {
        margin-right: 22px;
    }

    .SliderChangePopupMobile .SliderIncrementButton:first-child {
        margin-left: 22px;
    }

    .SliderChangePopupMobile .SliderChangePopupActions {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 60px;
        padding: 0 20px 20px;
    }

    .SliderChangePopupMobile .SliderChangePopupActionButton {
        border-radius: 5px;
        width: 130px;
    }

    .SliderChangePopupMobile .SliderChangePopupActionButton.gray {
        float: left;
    }

    .SliderChangePopupMobile .SliderChangePopupActionButton.blue {
        float: right;
    }

    .SliderChangePopupMobile .SliderChangePopupContent {
        padding: 15px 20px 20px;
    }

    .SliderChangePopupMobile .SliderControls {
        margin: 0 auto;
        width: 280px;
    }

    .SliderChangePopupMobile .SliderChangePopupActions {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 60px;
        margin: 0 auto;
        padding: 0 20px 20px;
        width: 320px;
    }

    .SliderChangePopupMobile .SliderChangePopupOptionsContent {
        margin: 0 auto;
        padding: 5px 20px;
        width: 320px;
    }

    .SliderChangePopupMobile .SliderChangePopupOptionsContent .SliderChangePopupContentLeft {
        width: 130px;
    }

    .SliderChangePopupOptions .SliderChangePopupActions {
        margin: 10px auto 0;
        width: 320px;
    }
}