.maskLine {
    background: #dee1e5;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.triangle {
    width: 16px;
    height: 8px;
    position: absolute;
    margin-left: -8px;
}

.slider-background {
    background-color: #dee1e5 !important;
    border: 0 !important;
    height: 3px !important;
}

.slider .noUi-handle {
    width: 15px !important;
    left: 32.5px !important;
    top: -6px !important;
    background: #007aff !important;
    border: 0 !important;
    border-radius: 50% !important;
    box-shadow: inherit !important;
    height: 15px !important;
    position: relative !important;
}

.orange .noUi-handle {
    background: #f07109 !important;
}

.darkgray .noUi-handle {
    background: #8e8e93 !important;
}

.noUi-handle.off {
    background: 0 !important;
}

.slider .noUi-handle:before, .slider .noUi-handle:after {
    content: unset !important;
}

.slider .noUi-tooltip {
    color: #007aff;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0 none;
    font-weight: bold;
    background: transparent !important;
}

.orange .noUi-tooltip {
    color: #f07109;
}

.darkgray .noUi-tooltip {
    color: #8e8e93;
}

.slider.noUi-horizontal .noUi-tooltip {
    bottom: 100%;
}

.slider .noUi-tooltipHover {
    border: 0 none;
    color: #007aff;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 6px 12px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    left: 50%;
    line-height: 26px;
    min-width: 40px;
    padding: 0 6px;
    position: absolute;
    top: -30px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.orange .noUi-tooltipHover {
    color: #f07109;
}

.darkgray .noUi-tooltipHover {
    color: #8e8e93;
}

.slider .noUi-tooltipHover:after {
    border-top: 5px solid #fff;
    border-left: 18.5px solid transparent;
    border-right: 18.5px solid transparent;
    bottom: -5px;
    content: "";
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.noUi-connects {
    border-radius: 1.5px !important;
}

[disabled].slider.noUi-target,
[disabled].slider .noUi-handle,
[disabled].slider .noUi-handle {
    cursor: auto !important;
}

.slider-holder {
    height: 35px;
    margin: 0 auto;
    padding: 0 35px 0 45px;
    position: relative;
    width: auto;
}

.slider-holder.NoSides {
    padding: 0;
}

.slider-holder.Highlighted {
    background-color: #fff;
    box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
    /*padding: 5px 40px 5px 40px;*/
    position: relative;
    z-index: 10;
}

.slider {
    height: 100%;
    float: none;
    margin: 0 auto;
    padding-top: 15px;
    position: relative;
}

.Touch .slider {
    padding-top: 14px;
}

.slider-background {
    background-color: #dee1e5;
    border-radius: 1.5px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
}

.Touch .slider-background {
    border-radius: 2.5px;
    height: 5px;
}

.SliderZeroIndicator {
    background-color: #dee1e5;
    height: 12px;
    left: 50%;
    position: absolute;
    top: -4.5px;
    width: 1px;
    z-index: 1;
}

.Touch .SliderZeroIndicator {
    top: -3.5px;
}

.SliderForeground {
    border-radius: 1.5px;
    height: 3px;
    position: relative;
    z-index: 2;
}

.Touch .SliderForeground {
    border-radius: 2.5px;
    height: 5px;
}

.slider.blue .SliderForeground {
    background-color: #007aff;
}
.slider.orange .SliderForeground {
    background-color: #f07109;
}
.slider.gray .SliderForeground {
    background-color: #8e8e93;
}

.SliderThumb {
    border-radius: 50%;
    height: 15px;
    position: absolute;
    top: -6px;
    width: 15px;
}

.slider.blue .SliderThumb {
    background-color: #007aff;
}
.slider.orange .SliderThumb {
    background-color: #f07109;
}
.slider.gray .SliderThumb {
    background-color: #8e8e93;
}

.SliderThumbBubble {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 6px 12px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    left: 50%;
    line-height: 26px;
    min-width: 40px;
    padding: 0 6px;
    position: absolute;
    top: -30px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider.blue .SliderThumbBubble {
    color: #007aff;
}

.slider.orange .SliderThumbBubble {
    color: #f07109;
}
.slider.gray .SliderThumbBubble {
    color: #8e8e93;
}

.SliderThumbBubble:after {
    border-top: 5px solid #fff;
    border-left: 18.5px solid transparent;
    border-right: 18.5px solid transparent;
    bottom: -5px;
    content: "";
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.SliderControls {
    display: table;
    margin: 0 auto;
    position: relative;
}

.SliderControlsLeft {
    float: left;
    padding-left: 5px;
    width: 70px;
}

.SliderControlsMiddle {
    float: left;
    width: 23px;
}

.SliderControlsRight {
    float: left;
    padding-right: 5px;
    width: 70px;
}

.SliderChangeButton {
    background-color: #f1f3f5;
    color: #747b85;
    cursor: pointer;
    font-size: 8px;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    position: relative;
    text-align: center;
    text-shadow: 0px 1px 0px #fff;
    width: 25px;
}

.SliderDecrementButton {
    border-left: 2px solid #dee1e5;
    float: left;
}

.SliderDecrementButton:first-child {
    margin-right: 10px;
}

.SliderDecrementButton:before {
    border-top: 6px solid transparent;
    border-right: 5px solid #dee1e5;
    border-bottom: 6px solid transparent;
    content: "";
    left: -7px;
    position: absolute;
    top: 0;
}

.SliderDecrementButton:after {
    border-top: 6px solid transparent;
    border-right: 5px solid #f1f3f5;
    border-bottom: 6px solid transparent;
    content: "";
    left: -5px;
    position: absolute;
    top: 0;
}

.SliderDetailsButton {
    cursor: pointer;
    height: 3px;
    margin: auto;
    padding: 4.5px 0;
    position: relative;
    width: 15px;
}

.SliderDetailsButton .SliderDetailsButtonDot {
    background-color: #dee1e5;
    border-radius: 50%;
    height: 3px;
    float: left;
    margin: 0 1px;
    width: 3px;
}

.SliderIncrementButton {
    border-right: 2px solid #dee1e5;
    float: right;
}

.SliderIncrementButton:first-child {
    margin-left: 10px;
}

.SliderIncrementButton:before {
    border-top: 6px solid transparent;
    border-left: 5px solid #dee1e5;
    border-bottom: 6px solid transparent;
    content: "";
    right: -7px;
    position: absolute;
    top: 0;
}

.SliderIncrementButton:after {
    border-top: 6px solid transparent;
    border-left: 5px solid #f1f3f5;
    border-bottom: 6px solid transparent;
    content: "";
    right: -5px;
    position: absolute;
    top: 0;
}

.SliderChangePopup {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 6px 12px rgba(0, 0, 0, 0.15);
    left: 50%;
    position: absolute;
    top: 50px;
    width: 260px;
    z-index: 999;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.SliderChangePopup:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    content: "";
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: -15px;
}

.SliderChangePopupContent {
    text-align: center;
}

.SliderChangePopupDesktop .SliderChangePopupContent {
    padding: 20px 25px 15px;
}

.SliderChangePopup .SliderChangePopupContentLeft {
    color: #747b85;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: right;
    width: 95px;
}

.SliderChangePopup .SliderChangePopupContentRight {
    float: right;
    width: 100px;
}

.SliderChangePopup .SliderChangePopupContentRight input {
    background-color: #fff;
    border: 1px solid #dee1e5;
    border-radius: 1px;
    box-shadow: inset 0px 0px 6px rgba(222, 225, 229, 0.5);
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
    width: 100%;
}

.SliderChangePopup .SliderChangePopupMinMaxInfo {
    text-align: center;
}

.SliderChangePopup .SliderChangePopupMinMaxInfo h5 {
    color: #a5abb4;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
}

.SliderChangePopup .SliderChangePopupMinMaxInfo h3 {
    color: #747b85;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
}

.SliderChangePopup .SliderChangePopupMinInfo {
    float: left;
}

.SliderChangePopup .SliderChangePopupMaxInfo {
    float: right;
}

.SliderChangePopupActions {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    overflow: hidden;
}

.SliderChangePopupActionButton {
    cursor: pointer;
    float: left;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 50%;
}

.SliderChangePopupActionButton.gray {
    background-color: #dee1e5;
    color: #747b85;
}

.SliderChangePopupActionButton.blue {
    background-color: #007aff;
    color: #fff;
}

.SliderChangePopupMobile .SliderChangePopupContent {
    padding: 15px 15px 20px;
}

.SliderChangePopupMobile .SliderChangePopupValue {
    color: #007aff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.SliderChangePopupMobile .SliderChangePopupSlider {
    border: 1px solid #007aff;
    border-radius: 1px;
    height: 66px;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    white-space: nowrap;
}

.SliderChangePopupMobile .SliderChangePopupSliderOverflow {
    font-size: 0;
    height: 65px;
    overflow: hidden;
    position: relative;
}

.SliderChangePopupMobile .Tick {
    display: inline-block;
    margin: 0 1px;
    position: relative;
    width: 1px;
}

.SliderChangePopupMobile .Tick.Small {
    background-color: #dcdee0;
    height: 20px;
    margin-top: 28px;
}

.SliderChangePopupMobile .Tick.Medium {
    background-color: #b9bdc2;
    height: 25px;
    margin-top: 23px;
}

.SliderChangePopupMobile .Tick.Big {
    background-color: #b9bdc2;
    height: 35px;
    margin-top: 13px;
}

.SliderChangePopupMobile .Tick.Big span {
    color: #7d848d;
    font-size: 10px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 0;
}

.SliderChangePopupMobile .SliderControlsLeft {
    padding-left: 7px;
    width: 95px;
}

.SliderChangePopupMobile .SliderControlsMiddle {
    width: 39.6px;
}

.SliderChangePopupMobile .SliderControlsRight {
    padding-right: 7px;
    width: 95px;
}

.SliderChangePopupMobile .SliderChangeButton {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 37px;
}

.SliderChangePopupMobile .SliderDecrementButton:first-child {
    margin-right: 12px;
}

.SliderChangePopupMobile .SliderDecrementButton:before {
    border-top: 20px solid transparent;
    border-right: 7px solid #dee1e5;
    border-bottom: 20px solid transparent;
    left: -9px;
}

.SliderChangePopupMobile .SliderDecrementButton:after {
    border-top: 20px solid transparent;
    border-right: 7px solid #f1f3f5;
    border-bottom: 20px solid transparent;
    left: -7px;
}

.SliderChangePopupMobile .SliderDetailsButton {
    margin: 18.5px auto;
}

.SliderChangePopupMobile .SliderIncrementButton:first-child {
    margin-left: 12px;
}

.SliderChangePopupMobile .SliderIncrementButton:before {
    border-top: 20px solid transparent;
    border-left: 7px solid #dee1e5;
    border-bottom: 20px solid transparent;
    right: -9px;
}

.SliderChangePopupMobile .SliderIncrementButton:after {
    border-top: 20px solid transparent;
    border-left: 7px solid #f1f3f5;
    border-bottom: 20px solid transparent;
    right: -7px;
}