/* departurement_popup_hays ez már nincs benne de hátha kell majd valamikor*/
.ks-container-departurement_popup_hays.ks-container-backdrop {
    background-color: rgba(155, 9, 9, 0);
}

.ks-container-departurement_popup_hays.ks-container {
    border-radius: 7px;
    top: 22%;
    left: 19%;
}

.ks-container-departurement_popup_hays .ks-container-content {
    padding: 5px;
}