.ks-container-withborder.ks-container {
    border-radius: 10px;
    border: 1px solid #b1b3b3;
}

.ks-container-scrollable.ks-container {
    overflow-y: auto;
    overflow-x: unset;
}

.ks-container-hrcontrol.ks-container {
    border-radius: 25px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.ks-container-popupnoscroll.ks-container {
    border-radius: 25px;
    border: 1px solid #ffffff;
    overflow: unset;
}

.ks-container-alertbar.ks-container {
    border-radius: 0px !important;

