/* analogicdropbox */
.ks-dropbox-analogicdropbox .ks-dropbox-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-analogicdropbox .ks-dropbox-field {
    background-color: #f1f3f5;
    border-radius: 5px;
    height: 40px;
}

.ks-dropbox-analogicdropbox .ks-dropbox-input {
    font-size: 16px;
    padding: 0 10px;
}

.ks-dropbox-analogicdropbox .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}
.ks-dropbox-analogicdropbox .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}
.ks-dropbox-analogicdropbox .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}
.ks-dropbox-analogicdropbox .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-analogicdropbox .ks-dropbox-icon {
    background-color: #f1f3f5;
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-analogicdropbox .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-analogicdropbox .ks-dropbox-panel {
	background-color: #fff;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    max-height: 600px;
}

.ks-dropbox-analogicdropbox .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 50px;
    padding: 0 10px;
}

.ks-dropbox-analogicdropbox .ks-dropbox-panel-item:hover {
    background-color: #f1f3f5;
}

.ks-dropbox-analogicdropbox .ks-dropbox-panel-item.on:hover {
    background-color: #006cf8;
}

.ks-dropbox-analogicdropbox .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color:#fff;
    font-size: 16px;
}


.ks-dropbox-analogicdropbox .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 16px;
}


/* multiselect */

.ks-dropbox-multiselect .ks-dropbox-field {
    background-color: #f1f3f5;
    border-radius: 5px;
    height: 40px;
}

.ks-dropbox-multiselect .ks-dropbox-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-multiselect .ks-dropbox-input {
    font-size: 16px;
    padding: 0 10px;
}

.ks-dropbox-multiselect .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}
.ks-dropbox-multiselect .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}
.ks-dropbox-multiselect .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}
.ks-dropbox-multiselect .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-multiselect .ks-dropbox-icon {
    background-color: #f1f3f5;
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-multiselect .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-multiselect .ks-dropbox-panel {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.ks-dropbox-multiselect .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 50px;
    padding: 0 10px;
}

.ks-dropbox-multiselect .ks-dropbox-panel-item:hover {
    background-color: #f1f3f5;
}

.ks-dropbox-multiselect .ks-dropbox-panel-item-separator {
    width: 10px;
}

.ks-dropbox-multiselect .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 16px;
}

.ks-dropbox-multiselect .ks-dropbox-panel-item-icon,
.ks-dropbox-multiselect .ks-dropbox-panel-item-separator {
    display: block;
}

/* applist */


.ks-dropbox-applist .ks-dropbox-field {
    background-color: #ebecec;
    border-radius: 6px;
    height: 30px;
}

.ks-dropbox-applist .ks-dropbox-input {
    font-size: 16px;
    padding: 0 10px;
    color: #585959;
    font-weight: 600;
}

.ks-dropbox-applist .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}
.ks-dropbox-applist .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}
.ks-dropbox-applist .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}
.ks-dropbox-applist .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-applist .ks-dropbox-icon {
    background-color: #ebecec;
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-applist .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-applist .ks-dropbox-panel {
	background-color: #fff;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.ks-dropbox-applist .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 50px;
    padding: 0 10px;
}

.ks-dropbox-applist .ks-dropbox-panel-item:hover {
    background-color: #f1f3f5;
}

.ks-dropbox-applist .ks-dropbox-panel-item.on:hover {
    background-color: #006cf8;
}

.ks-dropbox-applist .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color:#fff;
    font-size: 16px;
}

.ks-dropbox-applist .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 16px;
}



/* widgetconfiguration */
.ks-dropbox-widgetconfiguration .ks-dropbox-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-field {
    background-color: #fff;
    border-radius: 5px;
    height: 25px;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-input {
	color:#747b85;
    font-size: 14px;
    font-style: bold;
    padding: 0 10px;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}
.ks-dropbox-widgetconfiguration .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}
.ks-dropbox-widgetconfiguration .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}
.ks-dropbox-widgetconfiguration .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-icon {
    background-color: #fff;
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-panel {
	background-color: #fff;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.ks-dropbox-widgetconfiguration .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-panel-item:hover {
    background-color: #f1f3f5;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-panel-item.on:hover {
    background-color: #006cf8;
}

.ks-dropbox-widgetconfiguration .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color:#fff;
    font-size: 14px;
}


.ks-dropbox-widgetconfiguration .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
}

