/* template 6 */
.ks-dropbox-deepblue_dropbox .ks-dropbox-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-field {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 40px;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-input {
    font-size: 14px;
    padding: 0 10px;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-icon {
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-icon:after {
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    margin-top: -2.5px;
    position: absolute;
    right: 14px;
    top: 50%;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item:hover {
    background-color: #bfd9f2;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item.on:hover {
    background-color: #0066cc;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item.on {
    background-color: #0066cc;
    color: #fff;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-inner {
    background-color: #fff;
}


/* template 6 */
.ks-dropbox-dropbox .ks-dropbox-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-dropbox .ks-dropbox-field {
    border: 0px solid #8d8d8d;
    border-radius: 5px;
    height: 30px;
}

.ks-dropbox-dropbox .ks-dropbox-input {
    font-size: 14px;
    padding: 0 10px;
}

.ks-dropbox-dropbox .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}

.ks-dropbox-dropbox .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}

.ks-dropbox-dropbox .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}

.ks-dropbox-dropbox .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-dropbox .ks-dropbox-icon {
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    color: transparent;
}

.ks-dropbox-dropbox .ks-dropbox-icon:after {
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    margin-top: -2.5px;
    position: absolute;
    right: 14px;
    top: 50%;
}

.ks-dropbox-dropbox .ks-dropbox-panel {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
}

.ks-dropbox-dropbox .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}

.ks-dropbox-dropbox .ks-dropbox-panel-item:hover {
    background-color: #bfd9f2;
}

.ks-dropbox-dropbox .ks-dropbox-panel-item.on:hover {
    background-color: #0066cc;
}

.ks-dropbox-dropbox .ks-dropbox-panel-item.on {
    background-color: #0066cc;
}

.ks-dropbox-dropbox .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 16px;
}

.ks-dropbox-dropbox .ks-dropbox-panel-inner {
    background-color: #fff;
}

/* deepblue_multiselect */

.ks-dropbox-deepblue_multiselect .ks-dropbox-field {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 40px;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-input {
    font-size: 16px;
    padding: 0 10px;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-icon {
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel {


    border: 1px solid #8d8d8d;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item:hover {
    background-color: #bfd9f2;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item.on:hover {
    background-color: #0066cc;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item-separator {
    width: 10px;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item-icon,
.ks-dropbox-deepblue_multiselect .ks-dropbox-panel-item-separator {
    display: block;
}

.ks-dropbox-deepblue_dropbox .ks-dropbox-panel-inner {
    background-color: #fff;
}


/* ote */

/* column_selector_bpsp */

.ks-dropbox-column_selector_bpsp .ks-dropbox-field {
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    height: 40px;
    display: none;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-input {
    font-size: 16px;
    padding: 0 10px;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-input::-webkit-input-placeholder {
    color: #838388;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-input::-moz-placeholder {
    color: #838388;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-input:-ms-input-placeholder {
    color: #838388;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-input:-moz-placeholder {
    color: #838388;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-icon {
    border-radius: 4px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: block;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-icon:after {
    border-top: 7px solid #747b85;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel {
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
    display: block !important;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item {
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item:hover {
    background-color: rgba(220, 235, 250, 0.5);
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item.on:hover {
    background-color: rgba(220, 235, 250, 0.5);
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item-separator {
    width: 10px;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item-icon,
.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-item-separator {
    display: block;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel{
    position: unset;
}

.ks-dropbox-column_selector_bpsp .ks-dropbox-panel-inner{
    width: 320px;
}


/* simple_bold_bpsp */

.ks-dropbox-simple_bold_bpsp .ks-dropbox-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
    overflow: auto;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-field {
    height: 40px;
    overflow: auto;
    border-radius: 10px;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-field:hover {
    background-color: rgba(220, 235, 250, 0.47);
    border-radius: 10px;

}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-input {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-input::-webkit-input-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-input::-moz-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-input:-ms-input-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-input:-moz-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-icon {
    border-radius: 10px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: none;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-icon:after {
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    margin-top: -2.5px;
    position: absolute;
    right: 14px;
    top: 50%;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel {
    width: 220px;
    border-radius: 10px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item {
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-top: 2%;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item:hover {
    background-color: rgba(191, 217, 242, 0.5);
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item.on:hover {
    background-color: rgba(191, 217, 242, 0.5);

}


.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-inner {
    background-color: #fff;
    border-radius: 10px;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item.on {
    background-color: #ffffff;

}

.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.ks-dropbox-simple_bold_bpsp .ks-dropbox-panel::-webkit-scrollbar {
    display: none;
}


/* simple_bpsp */


.ks-dropbox-simple_bpsp .ks-dropbox-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    display: block;
    overflow: auto;
}

.ks-dropbox-simple_bpsp .ks-dropbox-field {
    height: 40px;
    overflow: auto;
    border-radius: 10px;
}

.ks-dropbox-simple_bpsp .ks-dropbox-field:hover {
    background-color: rgba(220, 235, 250, 0.47);
    border-radius: 10px;

}

.ks-dropbox-simple_bpsp .ks-dropbox-input {
    color: #000;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.ks-dropbox-simple_bpsp .ks-dropbox-input::-webkit-input-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bpsp .ks-dropbox-input::-moz-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bpsp .ks-dropbox-input:-ms-input-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bpsp .ks-dropbox-input:-moz-placeholder {
    color: #000000;
}

.ks-dropbox-simple_bpsp .ks-dropbox-icon {
    border-radius: 10px;
    height: 40px;
    margin: 0 5px;
    width: 40px;
    display: none;
}

.ks-dropbox-simple_bpsp .ks-dropbox-icon:after {
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    margin-top: -2.5px;
    position: absolute;
    right: 14px;
    top: 50%;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel {
    width: 220px;
    border-radius: 10px;
    margin-top: 2px;
    padding: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item {
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-top: 2%;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item:hover {
    background-color: rgba(191, 217, 242, 0.5);
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item.on:hover {
    background-color: rgba(191, 217, 242, 0.5);

}


.ks-dropbox-simple_bpsp .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item-text {
    color: #000;
    font-size: 14px;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-inner {
    background-color: #fff;
    border-radius: 10px;
}

.ks-dropbox-simple_bpsp .ks-dropbox-backdrop {
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item.on {
    background-color: #ffffff;
}

.ks-dropbox-simple_bpsp .ks-dropbox-panel-item.on .ks-dropbox-panel-item-text {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.ks-dropbox-simple_bpsp .ks-dropbox-panel::-webkit-scrollbar {
    display: none;
}

/* end ote */



