.ks-grid-row-greybackground.ks-grid-row {
    background-color: #ebecec;
    padding: 20px;
}

.ks-grid-row-statusbar.ks-grid-row {
    background-color: #2c2d2d;
    border-top-right-radius: 5px;
}

/* ote */

.ks-grid-row-bottomborder_bpsp.ks-grid-row {
    border-bottom: 2px solid #D8D9D9;
    padding-bottom: 1%;
}

