::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #ebecec;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #b1b3b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #b1b3b3;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-header {
	margin-bottom: 20px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-search {
	border: 1px solid #b1b3b3;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	margin-right: 10px;
	position: relative;
	width: 25%;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-search-icon {
	color: #000;
	font-size: 20px;
	left: 12px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-search-input {
	background-color: transparent;
	border: 0;
	font-size: 16px;
	padding: 0 20px 0 45px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-label {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-body-scroll {
	max-height: 200px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-row {
	border-bottom: 1px solid #d8d9d9;
	height: 45px;
}

.ks-scroll .ks-horizontal-table-row.ks-horizontal-table-head-row {
        padding-right: 20px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-horizontal-table-cell {
	background-color: #0066cc;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-right: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	padding: 15px 6px 12px;
	text-align: left;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-horizontal-table-cell.ks-checkbox-cell,
.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-horizontal-table-cell.ks-action-cell {
	background-color: transparent;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: flex-start;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-cell.ks-ordered {
	background-color: #004c99;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-order {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: 10px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-asc .ks-order {
	border-bottom: 5px solid #fff;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-desc .ks-order {
	border-top: 5px solid #fff;
}

.ks-horizontal-table-deepblue_ht .ks-checkbox-cell {
        flex: 0 0 40px;
	text-align: center;
	width: 40px;
}

.ks-horizontal-table-deepblue_ht .ks-action-cell {
	color: #0066cc;
	font-size: 15px;
        flex: 0 0 80px;
	width: 80px;
}

.ks-horizontal-table-deepblue_ht .edit-cell {
	border: 0px;
	font-size:16px;
	color:#0066cc;
	width:100%;
}


.ks-horizontal-table-deepblue_ht .ks-horizontal-table-row-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 17px;
	width: 17px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-cell {
	border-right: 1px dashed #bfbfbf;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-cell:first-child {
	border-left: 1px dashed #bfbfbf;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-head-row .ks-horizontal-table-cell:first-child {
	border-left: 0;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-cell-inner {
	align-items: center;
	padding: 0 5px;
}

.ks-horizontal-table-deepblue_ht .ks-checkbox-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-deepblue_ht .ks-action-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-row.ks-disabled {
	background-color: #f5f5f5;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height: 20px;
}

.ks-horizontal-table-deepblue_ht .ks-horizontal-table-info {
	color: #b1b3b3;
	font-size: 14px;
	font-weight: 600;
	left: 0;
	line-height: 35px;
	padding-top: 20px;
	text-align: center;
}

.ks-horizontal-table-deepblue_ht .widget-table-row-edit-menu {
    background-color: #fff;





    border: 1px solid #b1b3b3;
    border-radius: 10px;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 250px;
    z-index: 9;
}

.ks-horizontal-table-deepblue_ht .widget-link-cancel {
    color: #0066cc;
    display: table;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.ks-horizontal-table-deepblue_ht .widget-btn {
    background-color: #0066cc;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
    
}

.ks-horizontal-table-deepblue_ht .widget-table-row-edit-menu h4{
    color: #000;
    font-size: 15px;
    color: #000;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


.ks-horizontal-table-standard .ks-horizontal-table-header {
	margin-bottom: 20px;
}

.ks-horizontal-table-standard .ks-horizontal-table-search {
	border: 1px solid #b1b3b3;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	margin-right: 10px;
	position: relative;
	width: 25%;
}

.ks-horizontal-table-standard .ks-horizontal-table-search-icon {
	color: #000;
	font-size: 20px;
	left: 12px;
}

.ks-horizontal-table-standard .ks-horizontal-table-search-input {
	background-color: transparent;
	border: 0;
	font-size: 16px;
	padding: 0 20px 0 45px;
}

.ks-horizontal-table-standard .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

.ks-horizontal-table-standard .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-label {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.ks-horizontal-table-standard .ks-horizontal-table-body-scroll {
	max-height: 200px;
}

.ks-horizontal-table-standard .ks-horizontal-table-row {
	border-bottom: 1px solid #d8d9d9;
	height: 45px;
}

.ks-scroll .ks-horizontal-table-row.ks-horizontal-table-head-row {
        padding-right: 20px;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-horizontal-table-cell {
	background-color: #0066cc;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-right: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	padding: 15px 6px 12px;
	text-align: left;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-horizontal-table-cell.ks-checkbox-cell,
.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-horizontal-table-cell.ks-action-cell {
	background-color: transparent;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: flex-start;
}

.ks-horizontal-table-standard .ks-horizontal-table-cell.ks-ordered {
	background-color: #004c99;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-order {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: 10px;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-asc .ks-order {
	border-bottom: 5px solid #fff;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-desc .ks-order {
	border-top: 5px solid #fff;
}

.ks-horizontal-table-standard .ks-checkbox-cell {
        flex: 0 0 40px;
	text-align: center;
	width: 40px;
}

.ks-horizontal-table-standard .ks-action-cell {
	color: #0066cc;
	font-size: 15px;
        flex: 0 0 80px;
	width: 80px;
}

.ks-horizontal-table-standard .ks-horizontal-table-row-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 17px;
	width: 17px;
}

.ks-horizontal-table-standard .ks-horizontal-table-cell {
	border-right: 1px dashed #bfbfbf;
}

.ks-horizontal-table-standard .ks-horizontal-table-cell:first-child {
	border-left: 1px dashed #bfbfbf;
}

.ks-horizontal-table-standard .ks-horizontal-table-head-row .ks-horizontal-table-cell:first-child {
	border-left: 0;
}

.ks-horizontal-table-standard .ks-horizontal-table-cell-inner {
	align-items: center;
	padding: 0 5px;
}

.ks-horizontal-table-standard .ks-checkbox-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-standard .ks-action-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-standard .ks-horizontal-table-row.ks-disabled {
	background-color: #f5f5f5;
}

.ks-horizontal-table-standard .ks-horizontal-table-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height: 20px;
}

.ks-horizontal-table-standard .ks-horizontal-table-info {
	color: #b1b3b3;
	font-size: 14px;
	font-weight: 600;
	left: 0;
	line-height: 35px;
	padding-top: 20px;
	text-align: center;
}

/* Handle */
::-webkit-scrollbar-thumb {


}

/* Risks Skin */

.ks-horizontal-table-risk .ks-horizontal-table-header {
	margin-bottom: 20px;
}

.ks-horizontal-table-risk .ks-horizontal-table-search {
        background-color: #f1f3f5;
	border-radius: 3px;
	font-size: 10px;
	font-weight: normal;
	height: 30px;
	margin-right: 10px;
	position: relative;
	width: 15%;
}

.ks-horizontal-table-risk .ks-horizontal-table-search-icon {
	color: #747b85;
	font-size: 14px;
	left: 11px;
}

.ks-horizontal-table-risk .ks-horizontal-table-search-input {
	background-color: transparent;
	border: 0;
        color: #747b85;
	font-size: 10px;
	padding: 0 15px 0 36px;
}

.ks-horizontal-table-risk .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}

.ks-horizontal-table-risk .ks-horizontal-table-search-toggle .ks-horizontal-table-toggle-label {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.ks-horizontal-table-risk .ks-horizontal-table-body-scroll {
	max-height: 200px;
}

.ks-horizontal-table-risk .ks-horizontal-table-row {
	border-bottom: 1px solid #dee1e5;
	height: 45px;
}

.ks-horizontal-table-risk.ks-scroll .ks-horizontal-table-row.ks-horizontal-table-head-row {
        padding-right: 20px;
}

.ks-horizontal-table-risk .ks-horizontal-table-head-row .ks-horizontal-table-cell {
	color: #747b85;
	cursor: pointer;
	font-size: 10px;
	font-weight: normal;
	padding: 5px;
	text-align: left;
}

.ks-horizontal-table-risk .ks-horizontal-table-head-row .ks-horizontal-table-cell-inner {
	align-items: flex-end;
	justify-content: flex-start;
}

.ks-horizontal-table-risk .ks-horizontal-table-cell:first-child .ks-horizontal-table-cell-inner {
        justify-content: flex-end;
}

.ks-horizontal-table-risk .ks-horizontal-table-head-row .ks-order {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-left: 10px;
        margin-bottom: 3px;
}

.ks-horizontal-table-risk .ks-horizontal-table-head-row .ks-asc .ks-order {
	border-bottom: 4px solid #747b85;
}

.ks-horizontal-table-risk .ks-horizontal-table-head-row .ks-desc .ks-order {
	border-top: 4px solid #747b85;
}

.ks-horizontal-table-risk .ks-checkbox-cell {
        flex: 0 0 60px;
	text-align: center;
	width: 60px;
}

.ks-horizontal-table-risk .ks-action-cell {
	color: #0076ff;
	font-size: 13px;
        flex: 0 0 60px;
	width: 60px;
}

.ks-horizontal-table-risk .ks-horizontal-table-row-toggle .ks-horizontal-table-toggle-icon {
	color: #0066cc;
	cursor: pointer;
	font-size: 17px;
	width: 17px;
}

.ks-horizontal-table-risk .ks-horizontal-table-cell {
	border-left: 3px solid #f1f3f5;
        color: #000;
        font-size: 10px;
        font-weight: bold;
}

.ks-horizontal-table-risk .ks-horizontal-table-cell:first-child {
	border-left: 0;
}

.ks-horizontal-table-risk .ks-horizontal-table-cell-inner {
	align-items: center;
	padding: 0 5px;
}

.ks-horizontal-table-risk .ks-checkbox-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-risk .ks-action-cell .ks-horizontal-table-cell-inner {
	align-items: center;
	justify-content: center;
}

.ks-horizontal-table-risk .ks-horizontal-table-row.ks-disabled {
	background-color: #f5f5f5;
}

.ks-horizontal-table-risk .ks-horizontal-table-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height: 20px;
}