.ks-horizontal-table {
	display: block;
}

.ks-pivot-table-header-holder,
.ks-pivot-table-data-holder {
	align-items: stretch;
	display: flex;
}

.ks-pivot-table-data-content,
.ks-pivot-table-header-columns {
	flex-shrink: 0;
	flex-grow: 1;
}

.ks-pivot-table-row {
	display: flex;
}

.ks-pivot-table-cell {
	position: relative;
}

.ks-pivot-table-cell.header-closing-cell {
	text-align: right;
}

.ks-pivot-table-cell.name-cell,
.ks-pivot-table-cell.name-closing-cell {
	flex-shrink: 1;
	flex-grow: 0;
}

.ks-pivot-table-cell.group-icon-cell {
	flex-shrink: 1;
	flex-grow: 0;
}

.ks-pivot-table-group-widget-start,
.ks-pivot-table-group-widget-end,
.ks-pivot-table-group-widget-closed {
	cursor: pointer;
}

.ks-pivot-table-group-widget-closed {
	position: relative;
}