.ks-pivot-table {
	font-size: 12px;
	line-height: 14px;
}

.ks-pivot-table-header-holder {
	border-bottom: 1px solid #A9A9A9;
}

.ks-pivot-table-header-closers,
.ks-pivot-table-data-header {
	border-right: 1px solid #A9A9A9;
	width: 20%;
}

.ks-pivot-table-row {
	height: 30px;
}

.ks-pivot-table-cell {
	flex-shrink: 0;
	flex-grow: 1;
	padding-top: 8px;
	padding-bottom: 8px;
}

.ks-pivot-table-data-header .ks-pivot-table-cell {
	font-weight: bold;
}

.ks-pivot-table-cell.name-cell {
	border-right: 1px dotted #D4D5D6;
	padding-right: 5px;
	text-align: right;
}

.ks-pivot-table-cell.name-cell,
.ks-pivot-table-cell.name-closing-cell {
	padding-left: 10px;
	width: 40%;
}

.ks-pivot-table-cell.group-icon-cell {
	padding: 0;
	width: 18px;
}

.ks-pivot-table-cell.header-group-cell {
	padding: 0px;
}

.ks-pivot-table-group-widget-start {
	background-color: #FFFFFF;
	border: 1px solid #68AF67;
	border-radius: 50%;
	height: 15px;
	margin: 7px auto;
	width: 15px;
}

.ks-pivot-table-group-widget-start:after {
	border: 1px solid #68AF67;
	content: "";
	height: 50%;
	left: 50%;
	margin-left: -1px;
	position: absolute;
	top: 50%;
	width: 0px;
	z-index: -1;
}

.header-group-cell .ks-pivot-table-group-widget-start {
	border-color: #F6C243;
	margin: 3px 0 3px 3px;
}

.header-group-cell .ks-pivot-table-group-widget-start:after {
	border: 1px solid #F6C243;
	left: 4px;
	height: 0;
	top: 10px;
	width: 100%;
}

.ks-pivot-table-group-widget-middle {
	border: 1px solid #68AF67;
	height: 100%;
	margin: 0px auto;
	width: 0px;
}

.header-group-cell .ks-pivot-table-group-widget-middle {
	border: 1px solid #F6C243;
	height: 0;
	margin: 10px 0;
	width: 100%;
}

.ks-pivot-table-group-widget-closed {
	background-color: #fff;
	border: 1px solid #68AF67;
	border-radius: 50%;
	height: 14px;
	margin: 8px auto;
	width: 14px;
}

.ks-pivot-table-group-widget-closed:after {
	background-color: #68AF67;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

.header-group-cell .ks-pivot-table-group-widget-closed {
	border-color: #F6C243;
	margin: 3px 0px 3px 3px;
}

.header-group-cell .ks-pivot-table-group-widget-closed:after {
	background-color: #F6C243;
}

.ks-pivot-table-group-widget-end {
	background-color: #68AF67;
	border-radius: 50%;
	height: 9px;
	margin: 10px auto;
	width: 9px;
}

.ks-pivot-table-group-widget-end:after {
	border: 1px solid #68AF67;
	bottom: 50%;
	content: "";
	height: 50%;
	left: 50%;
	margin-left: -1px;
	position: absolute;
	width: 0px;
}

.header-group-cell .ks-pivot-table-group-widget-end {
	background-color: #F6C243;
	margin: 6px 3px;
}

.header-group-cell .ks-pivot-table-group-widget-end:after {
	border-color: #F6C243;
	height: 0;
	left: 0;
	margin: 0;
	top: 10px;
	width: 3px;
}

.ks-pivot-table-cell.group-title-cell {
	padding-left: 10px;
}

.ks-pivot-table-cell.row-title-cell {
	padding-left: 30px;
}

.ks-pivot-table-cell.group-title-cell,
.ks-pivot-table-cell.row-title-cell {
	border-bottom: 1px solid #F2F1F2;
}

.ks-pivot-table-cell.content-cell {
	border-bottom: 1px solid #F2F1F2;
	border-right: 1px solid #F2F1F2;
	text-align: right;
	padding-right: 5px;
}

.ks-pivot-table-cell.content-cell,
.ks-pivot-table-cell.header-group-cell {
	width: 100px;
} 

.ks-pivot-table-cell.header-content-cell {
	font-weight: bold;
	padding: 16px 0px 0 3px;
	text-align: left;
}