.ks-segmented-deepblue_segmented.ks-segmented {
	border-radius: 7px;
	height: 40px;
}

.ks-segmented-deepblue_segmented .ks-segment {
	background-color: #d8d9d9;
	color: #585959;
	font-size: 14px;
	font-weight: 600;
	border-right: 1px solid #fff;
}

.ks-segmented-deepblue_segmented .ks-segment.ks-on {
	background-color: #0066cc;
	color: #fff;
}




.ks-segmented-segmented.ks-segmented {
	border-radius: 7px;
	height: 40px;
}

.ks-segmented-segmented .ks-segment {
	background-color: #d8d9d9;
	color: #585959;
	font-size: 14px;
	font-weight: 600;
}

.ks-segmented-segmented .ks-segment.ks-on {
	background-color: #0066cc;
	color: #fff;
}

/* ote */
.ks-segmented-without_bg_bpsp.ks-segmented {
	border-radius: 7px;
	height: 40px;
}

.ks-segmented-without_bg_bpsp .ks-segment {
	color: #b1b3b3;
	font-size: 14px;
	font-weight: 600;
}

.ks-segmented-without_bg_bpsp .ks-segment-label:hover {
	padding: 10px;
	background-color: #bfd9f2;
	border-radius: 7px;
}

.ks-segmented-without_bg_bpsp .ks-segment.ks-on .ks-segment-label:hover {
	background-color: unset;
}

.ks-segmented-without_bg_bpsp .ks-segment.ks-on {
	color: #0066cc;
}

.ks-segmented-item_without_bg_bpsp {
	border-right: 2px solid #b1b3b3;
}

/* end ote */