/* skin1 */

.ks-toggle-skin1.ks-toggle {
    border: 1px solid #cbcbd0;
    border-radius: 5px;
    height: 40px;
    padding: 6px;
    width: 100px;
}

.ks-toggle-skin1 .ks-toggle-icon {
    border-radius: 3px;
    height: 28px;
    width: 28px;
    order: 0;
}

.ks-toggle-skin1.ks-on .ks-toggle-icon {
    order: 1;
}

.ks-toggle-skin1.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-skin1.ks-toggle .ks-toggle-icon-on {
    background-color: #fff;
    display: none;
}

.ks-toggle-skin1.ks-toggle .ks-toggle-icon-off {
    background-color: #cbcbd0;
    display: block;
}

.ks-toggle-skin1.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}


.ks-toggle-skin1 .ks-toggle-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.ks-toggle-skin1 .ks-toggle-label-off {
    color: #cbcbd0;
}

.ks-toggle-skin1 .ks-toggle-label-on {
    color: #fff;
}

.ks-toggle-skin1.ks-toggle.ks-on {
    background-color: #006cf8;
    border-color: #006cf8;
}

/* skin2 */
.ks-toggle-skin2.ks-toggle {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 0 10px;
    width: 100px;
}

.ks-toggle-skin2 .ks-toggle-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.ks-toggle-skin2 .ks-toggle-label-off {
    color: #000;
}

.ks-toggle-skin2 .ks-toggle-label-on {
    color: #fff;
}

.ks-toggle-skin2.ks-toggle.ks-on {
    background-color: #ff254d;
}

/* skin3 */

.ks-toggle-skin3.ks-toggle {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeedf2+0,ffffff+100 */
    background: #eeedf2; /* Old browsers */
    background: -moz-linear-gradient(top, #eeedf2 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeedf2 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeedf2 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeedf2', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    border: 1px solid #c5c5c9;
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    width: 40px;
}

.ks-toggle-skin3 .ks-toggle-label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.ks-toggle-skin3 .ks-toggle-label-off {
    color: #000;
}

.ks-toggle-skin3 .ks-toggle-label-on {
    color: #fff;
}

.ks-toggle-skin3.ks-toggle.ks-on {
    background-color: #ff254d;
}

.ks-toggle-skin3 .ks-toggle-icon img {
    display: block;
    height: 20px;
}

.ks-toggle-skin3.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-skin3.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-skin3.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-skin3.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* skin4 */

.ks-toggle-skin4.ks-toggle {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 40px;
    padding: 0 10px;
    width: 200px;
}

.ks-toggle-skin4 .ks-toggle-icon {
    position: absolute;
    left: 5px;
}

.ks-toggle-skin4 .ks-toggle-icon img {
    height: 20px;
}

.ks-toggle-skin4 .ks-toggle-label {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.ks-toggle-skin4.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-skin4.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-skin4.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-skin4.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* Risk Skin */

.ks-toggle-skin-risk.ks-toggle {
    background-color: #f1f3f5;
    border-radius: 3px;
    display: table;
    height: 30px;
    padding: 0 12px 0 10px;
}

.ks-toggle-skin-risk.ks-toggle.ks-on {
    background-color: #007aff;
}

.ks-toggle-skin-risk .ks-toggle-icon {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}

.ks-toggle-skin-risk .ks-toggle-icon span {
    display: block;
}

.ks-toggle-skin-risk .ks-toggle-label {
    font-size: 10px;
    font-weight: normal;
}

.ks-toggle-skin-risk .ks-toggle-label-off {
    color: #747b85;
}

.ks-toggle-skin-risk .ks-toggle-label-on {
    color: #fff;
}

.ks-toggle-skin-risk.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-skin-risk.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-skin-risk.ks-toggle .ks-toggle-icon-off {
    background-color: #fff;
    border-radius: 50%;
    display: block;
    height: 15px;
    width: 15px;
}

.ks-toggle-skin-risk.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* deepblue_checkbox */
.ks-toggle-deepblue_checkbox.ks-toggle .ks-toggle-icon-on:before {
    font-family: 'roche' !important;
    content: "\e981";
    color: #0066cc;
    cursor: pointer;
    font-size: 20px;
}

.ks-toggle-deepblue_checkbox.ks-toggle .ks-toggle-icon-off:before {
    font-family: 'roche' !important;
    content: "\e979";
    color: #0066cc;
    cursor: pointer;
    font-size: 20px;
}

.ks-toggle-deepblue_checkbox.ks-toggle {
    border-radius: 3px;
    display: table;
    height: 30px;
}


.ks-toggle-deepblue_checkbox .ks-toggle-icon span {
    display: block;
}

.ks-toggle-deepblue_checkbox .ks-toggle-label {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}


.ks-toggle-deepblue_checkbox.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-deepblue_checkbox.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-deepblue_checkbox.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-deepblue_checkbox.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* checkbox */
.ks-toggle-checkbox.ks-toggle .ks-toggle-icon-on:before {
    font-family: 'roche' !important;
    content: "\e981";
    color: #0066cc;
    cursor: pointer;
    font-size: 20px;
}

.ks-toggle-checkbox.ks-toggle .ks-toggle-icon-off:before {
    font-family: 'roche' !important;
    content: "\e979";
    color: #0066cc;
    cursor: pointer;
    font-size: 20px;
}

.ks-toggle-checkbox.ks-toggle {
    border-radius: 3px;
    height: 30px;
}


.ks-toggle-checkbox .ks-toggle-icon span {
    display: block;
}

.ks-toggle-checkbox .ks-toggle-label {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}


.ks-toggle-checkbox.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-checkbox.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-checkbox.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-checkbox.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* lock_unlock_bpsp */

.ks-toggle-lock_unlock_bpsp .ks-toggle-label-on {
    display: none !important;
}

.ks-toggle-lock_unlock_bpsp .ks-toggle-label-off {
    display: none !important;
}

.ks-toggle-lock_unlock_bpsp .ks-toggle-inner.readonly {
    background-color: rgba(235, 236, 236, 0.4);
    opacity: 90%;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle .ks-toggle-icon-on:before {
    font-family: 'analogic' !important;
    content: "\e9eb";
    color: #2C2D2D;
    cursor: pointer;
    font-size: 15px;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle .ks-toggle-icon-off:before {
    font-family: 'analogic' !important;
    content: "\ea05";
    color: #B1B3B3;
    cursor: pointer;
    font-size: 15px;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle {
    border-radius: 3px;
    height: 30px;
}


.ks-toggle-lock_unlock_bpsp .ks-toggle-icon span {
    display: block;
}

.ks-toggle-lock_unlock_bpsp .ks-toggle-label {
    display: none;
}


.ks-toggle-lock_unlock_bpsp.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-lock_unlock_bpsp.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

/* row_selector_bpsp */

.ks-toggle-row_selector_bpsp .ks-toggle-label-on {
    display: none !important;
}

.ks-toggle-row_selector_bpsp .ks-toggle-label-off {
    display: none !important;
}

.ks-toggle-row_selector_bpsp.ks-toggle .ks-toggle-icon-on {
    color: #0066CC;
    cursor: pointer;
    font-size: 15px;
}

.ks-toggle-row_selector_bpsp.ks-toggle .ks-toggle-icon-off {
    color: #C5C6C6;
    cursor: pointer;
    font-size: 15px;
}

.ks-toggle-row_selector_bpsp.ks-toggle {
    border-radius: 3px;
    height: 30px;
}


.ks-toggle-row_selector_bpsp .ks-toggle-icon span {
    display: block;
}

.ks-toggle-row_selector_bpsp .ks-toggle-label {
    display: none;
}


.ks-toggle-row_selector_bpsp.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-row_selector_bpsp.ks-toggle .ks-toggle-icon-on {
    display: none;
}

.ks-toggle-row_selector_bpsp.ks-toggle .ks-toggle-icon-off {
    display: block;
}

.ks-toggle-row_selector_bpsp.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}


.ks-toggle-inner.readonly {
    background-color: rgba(239, 193, 209, 0);
}

/* Settings_toggle_bpsp */

.ks-toggle-Settings_toggle_bpsp .ks-toggle-label-on {
    display: none !important;
}

.ks-toggle-Settings_toggle_bpsp .ks-toggle-label-off {
    display: none !important;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle .ks-toggle-icon-on {
    color: #0066CC;
    cursor: pointer;
    font-size: 15px;
    padding-left: 15%;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle .ks-toggle-icon-off {
    color: #C5C6C6;
    cursor: pointer;
    font-size: 15px;
    padding-left: 60%;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle {
    border-radius: 3px;
    height: 30px;
}


.ks-toggle-Settings_toggle_bpsp .ks-toggle-icon span {
    display: block;
}

.ks-toggle-Settings_toggle_bpsp .ks-toggle-label {
    display: none;
}


.ks-toggle-Settings_toggle_bpsp.ks-toggle.ks-on .ks-toggle-icon-off {
    display: none;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle .ks-toggle-icon-on {
    display: none;
    justify-content: flex-start;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle .ks-toggle-icon-off {
    display: block;
    justify-content: flex-end;
    padding-right: 5px;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle.ks-on .ks-toggle-icon-on {
    display: block;
}

.ks-toggle-Settings_toggle_bpsp.ks-toggle.ks-on .ks-toggle-inner{
    justify-content: flex-start;
}
