/* template1*/
.ks-text-text .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ks-text-deepblue_text .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ks-text-template1 .ks-text-title-input {
    font-weight: bold;
    font-size: 16px;
    border-width: 0px;
    width: 100%;
    color: #0066cc;
}

/* template2*/
.ks-text-template2.ks-text .ks-text-inner {
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
}

.ks-text-template2 .ks-text-title {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.ks-text-template2 .ks-text-separator {
    border-bottom: 1px dotted red;
    margin-bottom: 10px;
    display: block;
}

.ks-text-template2 .ks-text-body {
    color: #000;
    font-size: 14px;
    line-height: 16px;
}

/* template3*/
.ks-text-template3.ks-text {
    background-color: #ffc3ce;
    height: 50px;
    padding: 10px 40px;
    border-radius: 25px;
    display: table!important;
    margin-left: auto;
    margin-right: auto;
}

.ks-text-template3 .ks-text-title {
    color: #ff274e;
    font-size: 18px;
    line-height: 30px;
}

/* template4 */

.ks-text-template4.ks-text {
    background-color: #ededf2;
    padding: 0 15px;
}

.ks-text-template4 .ks-text-title {
    color: #838388;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
}

.ks-text-template4 .ks-text-separator {
    border-bottom: 1px solid #838388;
    display: block;
}

.ks-text-template4 .ks-text-body {
    color: #000;
    font-size: 16px;
    padding: 15px 0;
}

/* template5*/
.ks-text-template5 .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11px;
    text-align: right;
}

/* template6*/
.ks-text-template6 .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 36px;
}

/* template7*/
.ks-text-template7 .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11px;
    color: #747b85;
}

/* template8*/
.ks-text-template8 .ks-text-title {
    font-size: 11px;
    text-align: right;
    color: #747b85;
}

/* template9*/
.ks-text-template9 .ks-text-title {
    font-size: 12px;
    color: #747b85;
}

/* template10*/

.ks-text-menu .ks-text-title {
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ks-text-menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}

/* template10*/
.ks-text-deepblue_menu .ks-text-title {
    font-weight: bold;
}

.ks-text-deepblue_menu .ks-text-body {
    font-weight: bold;
    margin-bottom: 5px;
}



/* template11*/
.ks-text-deepblue_title .ks-text-title {
    font-weight: normal;
    margin-bottom: 5px;
}


.ks-text-title .ks-text-title {
    font-weight: normal;
    margin-bottom: 5px;
}


.ks-text-black_note .ks-text-title {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.ks-text-black_note .ks-text-body {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

/* ote */
/* popup_header */
.ks-text-popup_header_bpsp {
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D9D9;
}

.ks-text-popup_header_bpsp .ks-text-title {
    font-size: 16px;
    font-family: imago;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

/* products_gd_header_bpsp */

.ks-text-products_gd_header_bpsp .ks-text-title {
    font-size: 15px;
    font-family: imago;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 25px;
}

.ks-text-products_gd_header_bpsp .ks-text-body {
    font-size: 12px;
    font-family: imago;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.ks-text-products_gd_header_bpsp {
    padding-bottom: 3px;
}

/* products_gd_readonly_bpsp */

.ks-text-products_gd_readonly_bpsp  {
    font-family: Imago-Regular;
    font-size: 15px;
    font-color: #000000;
}


/* end ote */


