
.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-row {
    border-bottom: 1px solid #c3ced5;
    height: 40px;
}

.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-cell {
    padding: 0px !important;
}

.ks-grid-table-hierarchyGridTable_hays .ks-grid-table-inner {
    border-right: 20px solid #FFFFFF;
}

.ks-grid-table-hierarchyGridTable_hays {
    max-height: 500px;/*todo*/
}


/* forecasting_forecast_hr */

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-row.border-bottom {
    border-bottom: 1px solid #d8d9d9;
    height: 40px;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head .ks-grid-table-row {
    border-bottom: 1px solid #d8d9d9;;
    border-left: 0;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-cell-border-left {
    border-left: 1px dotted #b1b3b3;
    position: absolute;
    height: 100%;
    margin-right: 7px;
}
.ks-grid-table-forecasting_forecast_hr .ks-grid-table-cell-border-right {
    border-right: 1px dotted #b1b3b3;
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head .ks-grid-table-head-cell-no_border .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 100%;
    bottom: 0;
}

.ks-grid-table-forecasting_forecast_hr .bottom_border {
    border-bottom: 1px solid #d8d9d9;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head .ks-grid-table-cell {
    border-right: unset;
    color: #000000;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head .ks-grid-table-head-cell-border-left {
    border-right: 1px solid #b1b3b3;
    position: absolute;
    top: 20%;
    bottom: 0;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-head .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-cell {
    color: #000;
    font-size: 13px;
    line-height: 16px;
}

.ks-grid-table-forecasting_forecast_hr .ks-grid-table-content .ks-grid-table-cell {
    overflow: hidden;
}

.ks-grid-table-hide .ks-grid-table-inner {
    display: none;
}


/* customer_status_report_bpsp */

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-head {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-row {
    border-bottom: 1px solid #d8d9d9;
    border-left: 1px dashed #D8D9D9;
    border-right: 1px dashed #b1b3b3;
    height: 40px;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-head .ks-grid-table-row {
    border-right: 1px dashed #b1b3b3;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-cell-border-left {
    border-left: 1px dashed #b1b3b3;
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-head .ks-grid-table-cell {
    border-right: unset;
    color: #000000;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-head .ks-grid-table-head-cell-border-left {
    border-left: 1px dashed #b1b3b3;
    position: absolute;
    top: 0;
    bottom: 0;
}


.ks-grid-table-customer_status_report_bpsp .ks-grid-table-head .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-cell {
    color: #000;
    font-size: 13px;
    line-height: 16px;
}

.ks-grid-table-customer_status_report_bpsp .ks-grid-table-content .ks-grid-table-cell {
    overflow: hidden;
}

/* compensation_change_gt */

.ks-grid-table-compensation_change_gt .ks-grid-table-row {
    height: 50px;
}

.ks-grid-table-compensation_change_gt4 .ks-grid-table-head .ks-grid-table-row {
    border-bottom: 0;
    border-left: 0;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-cell-border-left {
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-cell {
    border-right: unset;
    color: #000000;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-head-cell-border-left {
    position: absolute;
    top: 50%;
    bottom: 0;
}


.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-head-cell-long_border_bpsp .ks-grid-table-head-cell-border-left {
    position: absolute;
    top: 0%;
    bottom: 0;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-head-cell-three_level_border_bpsp .ks-grid-table-head-cell-border-left {
    position: absolute;
    top: -30%;
    bottom: 0;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-head-cell-no_border_bpsp .ks-grid-table-head-cell-border-left {
    position: absolute;
    top: 100%;
    bottom: 0;
}
.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-head-cell-no_border_bpsp2 .ks-grid-table-head-cell-border-left {
    position: absolute;
    top: 100%;
    bottom: 0;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-head .ks-grid-table-row {
    height: 90px;
}

.ks-grid-table-compensation_change_gt .ks-grid-table-cell {
    color: #000;
    font-size: 16px;
    line-height: 16px;
}

/* add_dummy */

.ks-grid-table-add_dummy .ks-grid-table-row {
    height: 50px;
}

.ks-grid-table-add_dummy .ks-grid-table-head .ks-grid-table-row {
    border-bottom: 0;
    border-left: 0;
}

.ks-grid-table-add_dummy .ks-grid-table-cell-border-left {
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-add_dummy .ks-grid-table-head .ks-grid-table-row {
    display: none;
}

.ks-grid-table-add_dummy .ks-grid-table-cell {
    color: #000;
    font-size: 16px;
    line-height: 16px;
}


.ks-grid-table-employee_details .ks-grid-table-content {
    margin-left: 30px;
}

.ks-grid-table-view .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-view .ks-grid-table-head .ks-grid-table-row {
    display: none;
}

.ks-grid-table-one_row .ks-grid-table-content {
    display: flex;
}

.ks-grid-table-name_popup {
    position: absolute;
}

/* hrdemo_list_table */

.ks-grid-table-hrdemo_list_table .ks-grid-table-head {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 2;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-row.border-bottom {
    border-bottom: 1px solid #d8d9d9;
    border-right: 1px dotted #b1b3b3;
    height: 40px;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-head .ks-grid-table-row {
    border-bottom: 1px solid #d8d9d9;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-cell-border-left {
    border-right: 1px dotted #b1b3b3;
    position: absolute;
    height: 100%;
    margin-right: 7px;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-head .ks-grid-table-head-cell-no_border .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 100%;
    bottom: 0;
}

.ks-grid-table-hrdemo_list_table .bottom_border {
    border-bottom: 1px solid #d8d9d9;
    border-right: 1px dotted #b1b3b3;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-head .ks-grid-table-cell {
    border-right: unset;
    color: #000000;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-head .ks-grid-table-head-cell-border-left {
    border-left: 1px solid #b1b3b3;
    position: absolute;
    top: 20%;
    bottom: 0;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-head .ks-grid-table-row {
    height: 40px;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-cell {
    color: #000;
    font-size: 13px;
    line-height: 16px;
}

.ks-grid-table-hrdemo_list_table .ks-grid-table-content .ks-grid-table-cell {
    overflow: hidden;
}