.ks-image-warning_bpsp{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ks-image-warning_bpsp span{
    color: #D12D4A;
}
.ks-image-hierarchy_hays span {
    color: #009fda;
    font-size: 15px;
    padding-left: 10px;
}