.ks-legend-legend-1{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    margin: 10px auto;
}

.ks-legend-legend-1 .off .ks-legend-label {
    color: lightgrey!important;
}

.ks-legend-legend-1 .ks-legend-inner {
    align-items: flex-start;
    flex-direction: column;
}

.ks-legend-legend-1 .ks-legend-item {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ks-legend-legend-2{
	display: flex;
	justify-content: center;
	font-size: 10px;
	font-weight: 600;
	margin: 10px auto;
}

.ks-legend-legend-2 .ks-legend-inner {
	align-items: flex-start;
}

.ks-legend-legend-2 .ks-legend-item {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.ks-legend-legend-2 .ks-legend-label {
	word-break: break-word;
}

.ks-legend-legend-2 .off .ks-legend-label {
	color: lightgrey!important;
}

.ks-legend-combochart{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    margin: 10px auto;
}

.ks-legend-combochart .ks-legend-item-inner {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.ks-legend-combochart .ks-legend-item-inner .ks-legend-label {
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-size: 14px;
}

.ks-legend-combochartHR{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 650px;
}

.ks-legend-combochartHR .ks-legend-item-inner {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.ks-legend-combochartHR .ks-legend-item-inner .ks-legend-label {
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-size: 14px;
}


.ks-legend-combochartFTE{
    display: flex;
    margin-top: 10px;
    margin-left: 100px;
}

.ks-legend-combochartFTE .ks-legend-item-inner {
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-right: 10px;
}

.ks-legend-combochartFTE .ks-legend-item-inner .ks-legend-label {
    border-radius: 10px;
    padding: 13px;
    color: white;
    font-weight: 600;
    font-size: 21px;
}

.ks-legend-displaynone{
    display: none;
}


.ks-legend-verticalbarchart{
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 30px;
    height: 130px;
}

.ks-legend-verticalbarchart .ks-legend-inner{
    display: unset;
}

.ks-legend-verticalbarchart .ks-legend-item-inner {
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding-bottom: 4px;
}

.ks-legend-verticalbarchart .ks-legend-label{
    color: #000000;
}