<script type="text/javascript" src="static/assets/js/widgets/deprecated/main-content.js?v={{cnf.version}}"></script>

<script type="text/javascript" src="static/assets/js/widgets/deprecated/comment.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/comment-form.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/form.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/header.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/main-menu.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/message-board.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontal-table.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/textbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/dropbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/small-header.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/textarea.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/side-menu.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/text.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/checkbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/segmented-control.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/vertical-table.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontal-buttons.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/title.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/popup.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/status-bar.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/page-title.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/main-menu-button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/segmented-control-item.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/side-menu-button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontaltable/radio-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontaltable/action-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontaltable/delete-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/icon-button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/switch-button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/site-menu-sub.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/sitemenusub/site-menu-button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/sitemenusub/site-menu-checkbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/sitemenusub/site-menu-list.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/sitemenusub/site-menu-list-item.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/combo-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/datepicker.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/horizontal-bar-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="static/assets/js/widgets/deprecated/vertical-bar-chart.js?v={{cnf.version}}"></script>