<link href="{{cnf.assetsUrl}}/css/bootstrap-grid.min.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/css/widgets/loader.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/css/widgets/simulation-panel-slider.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/css/lib/Chart-2.9.3.min.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/css/lib/nouislider.min.css?v={{cnf.version}}" rel="stylesheet" type="text/css">

<!-- widget skins -->
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-general.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-container.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-container-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-button.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-button-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-text.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-text-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-textbox.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-textbox-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-table.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-table-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-table-cell.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-table-cell-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-dropbox.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-dropbox-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-cell.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-cell-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-toggle.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-toggle-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-slider.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-slider-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-slider-touch.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-slider-touch-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-segmentedbar.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-segmentedbar-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-page.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-page-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-panel.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-panel-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-segmented.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-segmented-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-gauge.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-gauge-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-legend.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-legend-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-datepicker.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-datepicker-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-waterfall.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-waterfall-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-tornado.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-tornado-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-tornado-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-horizontal-table.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-horizontal-table-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-scrolltable.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-scrolltable-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-line-scatter-combo.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-row.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-grid-row-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-combo-chart.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-textarea.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-textarea-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-popup.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-horizontalbarchart.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-pie-chart.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-pie-chart-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-line-area-chart.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-line-area-chart-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-vertical-line-box.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-vertical-line-box-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-image.css?v={{cnf.version}}" rel="stylesheet" type="text/css">
<link href="{{cnf.assetsUrl}}/skins/{{cnf.applicationAssetsFolder}}/css/ks-image-style.css?v={{cnf.version}}" rel="stylesheet" type="text/css">