<!-- libs -->
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/jquery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/jquery/jquery.doubletap.js"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/jquery/tableSort.js"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/debounceAndThrottle.1.8.3.min.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/jquery/jquery.actual.min.js"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/Chart-2.9.3.min.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/chartjs-plugin-datalabels.min.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/chartjs-plugin-dragdata.min.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/nouislider.min.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/lib/Sortable.min.js?v={{cnf.version}}"></script>

{% include 'config.html' %}
<!-- end libs -->

<!-- framework -->
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/app.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/utils.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/render.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/listener.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/api.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/tm1/authentication.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/tm1/query-builder.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/tm1/file-upload.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/tm1/server.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/tm1/pivot.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/framework/shout.js?v={{cnf.version}}"></script>
<!-- end framework -->

<!-- widgets -->
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/base/widget.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/loader.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/container.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/popup.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/swipe.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/simulation-panel.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/scroll-table.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/datepicker.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/combo-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/simulation-panel-slider.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/water-fall.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid-table/grid-table.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid-table/grid-table-cell.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid-table/grid-table-header-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid-table/grid-table-header-cell.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/button.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/text.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/textbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/dropbox.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/toggle.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/slider.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/gauge.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/histogram-combo-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/line-scatter-combo.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/segmented-bar.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/bubble-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/tornado-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/page.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/image.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/segmented-control.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/segmented-control-item.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/droppable.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/horizontal-table.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/horizontaltable/radio-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/horizontaltable/action-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/horizontaltable/delete-button-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/textarea.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/system-popup.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/pie-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/radar-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/line-area-chart.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/vertical-line-box.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/shadow.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/file-upload.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/pivot-table.js?v={{cnf.version}}"></script>

<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/deprecated/horizontal-bar-chart.js?v={{cnf.version}}"></script>
<!-- end widgets -->

<!-- layouts -->
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid/grid.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid/grid-row.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/grid/grid-cell.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/widgets/new/panel.js?v={{cnf.version}}"></script>
<!-- end layouts -->

<!-- configs -->
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/configs/{{cnf.applicationConfigFolder}}/repository.js?v={{cnf.version}}" charset="UTF-8"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/configs/{{cnf.applicationConfigFolder}}/widget-config.js?v={{cnf.version}}" charset="UTF-8"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/configs/{{cnf.applicationConfigFolder}}/event-map.js?v={{cnf.version}}" charset="UTF-8"></script>
<!-- end configs -->

<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/base/export.js?v={{cnf.version}}"></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/config-export.js?v={{cnf.version}}" async></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/event-map-export.js?v={{cnf.version}}" async></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/widget-config-export.js?v={{cnf.version}}" async></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/repository-export.js?v={{cnf.version}}" async></script>
<script type="text/javascript" src="{{cnf.assetsUrl}}/js/exports/repository-extract-export.js?v={{cnf.version}}" async></script>